{% extends "guest_views/base_fixed.twig" %}
{% block aditional_css %}
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <style type="text/css">
    @font-face {
      font-family: AkzidenzBOLD;
      src: url('{{base_url()}}/AkzidenzSUPER.ttf');
    }

    @font-face {
      font-family: BEMIO;
      src: url('{{base_url()}}/BEMIO.OTF');
    }
    </style>
{% endblock %}
{% block title %}Página no encontrada - FreeTEXS{% endblock %}
{% block content %}
	<section class="product_details_area">
        <div class="container">
            <div class="row">
				<div class="col-lg-12">
					<div style="text-align:center;">
						<img src="http://freetexs.online/construccion.png" width="300px">			
						<h1 class="titulo404">¡Sitio en construcción!</h1>
						<br>
						<h3>No te preocupes, en un momento serás redireccionado a la página principal.<br>Mientras tanto trabajamos para tener funcional esta página.</h3>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}

{% block custom_js %}
	<script type="text/javascript">
	$(document).ready(function(){
      setTimeout(function() {
       window.location.href = "{{path_for('home')}}"
      }, 7000);
    }); 
	</script>
{% endblock %}