{% extends "guest_views/base_fixed.twig" %}

{% block head %}
{% endblock %}

{% block aditional_css %}
<style type="text/css">
.gmap .gmap-address {
  border-bottom: 1px solid #edf0f2;
  text-align: center;
  background: #fff;
  padding: 30px;
  margin-bottom: 0;
}
</style>
{% endblock %}

{% block title %} Inicio {% endblock %}
{% block content %}
	<div class="header-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="page-header header-filter header-small" style="background-image: url('assets/img/dg1.jpg');">
                        <div class="container">
                           <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">En navidad, 50% OFF</h1>
                                    <h4>No dudes más y regalá eso que siempre soñaste, la oportunidad es ahora, con envios gratiutos y productos hasta el 50% off.</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-danger btn-lg">
                                            <i class="material-icons">shopping_cart</i> ¡QUIERO ESE 50% Off!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter header-small" style="background-image: url('assets/img/dg2.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Seguínos en las redes</h1>
                                    <h4>No te pierdas ninguna novedad de nuestros productos y promociones exclusivas, seguínos en nuestras redes sociales ahora!</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter header-small" style="background-image: url('assets/img/dg3.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">¡Medios de pago!</h1>
                                    <h4>Tenes la posibilidad de pagar tu compra con los mejores medios de pago, a continuación te listamos los que aceptamos:</h4>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-white btn-link btn-md">
                                            <i class="material-icons">account_balance_wallet</i> Efectivo y Transferencias
                                        </a>
                                        <a href="#pablo" class="btn btn-white btn-link btn-md">
                                            <i class="material-icons">credit_card</i> Tarjetas de crédito y débito
                                        </a>
                                        <a href="#pablo" class="btn btn-white btn-link btn-md">
                                            <i class="material-icons">accessibility</i> Hasta 6 cuotas sin ínteres
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Lo mejor en {{ categoria.nombre }}</h2>
                <div class="row">
                    {% for producto in productos %}
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-header card-header-image">
                                <a href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">
                                    <img src="{{ producto.imagen_principal.enlace }}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">{{ producto.nombre }}</a>
                                </h4>
                                <p class="card-description">{{ producto.descripcion }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> ${{ producto.precio + 2 }}.00</span>
                                    <span class="price price-new"> ${{ producto.precio }}.00</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Añadir al carrito">
                                        <i class="material-icons">shopping_cart</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Añadir al carrito">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <h2 class="section-title">También te puede interesar...</h2>
                <div class="row">
                    {% for producto in productos2 %}
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-header card-header-image">
                                <a href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">
                                    <img src="{{ producto.imagen_principal.enlace }}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">{{ producto.nombre }}</a>
                                </h4>
                                <p class="card-description">{{ producto.descripcion }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> ${{ producto.precio + 2 }}.00</span>
                                    <span class="price price-new"> ${{ producto.precio }}.00</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Añadir al carrito">
                                        <i class="material-icons">shopping_cart</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Añadir al carrito">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}

{% endblock %}