{% extends "guest_views/base_fixed.twig" %}

{% block head %}
{% endblock %}

{% block aditional_css %}
<style type="text/css">
.gmap .gmap-address {
  border-bottom: 1px solid #edf0f2;
  text-align: center;
  background: #fff;
  padding: 30px;
  margin-bottom: 0;
}
</style>
{% endblock %}

{% block title %} Inicio {% endblock %}
{% block content %}

    <div class="header-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="page-header header-filter header-small" style="background-image: url('assets/img/dg1.jpg');">
                        <div class="container">
                           <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">En navidad, 50% OFF</h1>
                                    <h4>No dudes más y regalá eso que siempre soñaste, la oportunidad es ahora, con envios gratiutos y productos hasta el 50% off.</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-danger btn-lg">
                                            <i class="material-icons">shopping_cart</i> ¡QUIERO ESE 50% Off!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter header-small" style="background-image: url('assets/img/dg2.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Seguínos en las redes</h1>
                                    <h4>No te pierdas ninguna novedad de nuestros productos y promociones exclusivas, seguínos en nuestras redes sociales ahora!</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#red" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter header-small" style="background-image: url('assets/img/dg3.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">¡Medios de pago!</h1>
                                    <h4>Tenes la posibilidad de pagar tu compra con los mejores medios de pago, a continuación te listamos los que aceptamos:</h4>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-white btn-link btn-md">
                                            <i class="material-icons">account_balance_wallet</i> Efectivo y Transferencias
                                        </a>
                                        <a href="#pablo" class="btn btn-white btn-link btn-md">
                                            <i class="material-icons">credit_card</i> Tarjetas de crédito y débito
                                        </a>
                                        <a href="#pablo" class="btn btn-white btn-link btn-md">
                                            <i class="material-icons">accessibility</i> Hasta 6 cuotas sin ínteres
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Todos nuestros productos...</h2>
                <div class="row">
                    {% for producto in productos %}
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-header card-header-image">
                                <a href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">
                                    <img src="{{ producto.imagen_principal.enlace }}" alt="">
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">{{ producto.nombre }}</a>
                                </h4>
                                <p class="card-description">Aqui va una pequeña descripción del producto para llamar la atención del comprador.</p>
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                    <span class="price price-old"> ${{ producto.precio + 2 }}.00</span>
                                    <span class="price price-new"> ${{ producto.precio }}.00</span>
                                </div>
                                <div class="stats ml-auto">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Añadir al carrito">
                                        <i class="material-icons">shopping_cart</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Añadir al carrito">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
       {#<!-- section -->
        <div class="section">
            <div class="container">
                <h2 class="section-title">¡Encuentra lo que quieras!</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-refine card-plain card-rose">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Refine
                                    <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                                        <i class="material-icons">cached</i>
                                    </button>
                                </h4>
                                <div id="accordion" role="tablist">
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Price Range
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body card-refine">
                                                <span id="price-left" class="price-left pull-left" data-currency="€">€42</span>
                                                <span id="price-right" class="price-right pull-right" data-currency="€">€880</span>
                                                <div class="clearfix"></div>
                                                <div id="sliderRefine" class="slider slider-rose noUi-target noUi-ltr noUi-horizontal"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Clothing
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked> Blazers
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Casual Shirts
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Formal Shirts
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Jeans
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Polos
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Pyjamas
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Shorts
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Trousers
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Designer
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked> All
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Polo Ralph Lauren
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Wooyoungmi
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Alexander McQueen
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Tom Ford
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> AMI
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Berena
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Thom Sweeney
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Burberry Prorsum
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Calvin Klein
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Kingsman
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Club Monaco
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Dolce &amp; Gabbana
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Gucci
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Biglioli
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Lanvin
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Loro Piana
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Massimo Alba
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-collapse">
                                        <div class="card-header" role="tab" id="headingFour">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    Colour
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="card-body">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked> All
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Black
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Blue
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Brown
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Gray
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Green
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Neutrals
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""> Purple
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image">
                                        <a href="#">
                                            <img src="../assets/img/examples/suit-1.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Polo Ralph Lauren</h4>
                                        </a>
                                        <p class="description">
                                            Impeccably tailored in Italy from lightweight navy wool.
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <div class="price-container">
                                            <span class="price"> € 800</span>
                                        </div>
                                        <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-md-4">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image">
                                        <a href="#">
                                            <img src="../assets/img/examples/suit-2.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Wooyoungmi</h4>
                                        </a>
                                        <p class="description">
                                            Dark-grey slub wool, pintucked notch lapels.
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <div class="price-container">
                                            <span class="price">€ 555</span>
                                        </div>
                                        <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                            <i class="material-icons">favorite_border</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-md-4">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image">
                                        <a href="#">
                                            <img src="../assets/img/examples/suit-3.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Tom Ford</h4>
                                        </a>
                                        <p class="description">
                                            Immaculate tailoring is TOM FORD's forte.
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <div class="price-container">
                                            <span class="price"> € 879</span>
                                        </div>
                                        <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                            <i class="material-icons">favorite_border</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-md-4">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image">
                                        <a href="#">
                                            <img src="../assets/img/examples/suit-4.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Thom Sweeney</h4>
                                        </a>
                                        <p class="description">
                                            It's made from lightweight grey wool woven.
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <div class="price-container">
                                            <span class="price"> € 680</span>
                                        </div>
                                        <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                            <i class="material-icons">favorite_border</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-md-4">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image">
                                        <a href="#">
                                            <img src="../assets/img/examples/suit-5.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Kingsman</h4>
                                        </a>
                                        <p class="description">
                                            Crafted from khaki cotton and fully canvassed.
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <div class="price-container">
                                            <span class="price"> € 725</span>
                                        </div>
                                        <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-md-4">
                                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                    <div class="card-header card-header-image">
                                        <a href="#">
                                            <img src="../assets/img/examples/suit-6.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Boglioli</h4>
                                        </a>
                                        <p class="description">
                                            Masterfully crafted in Northern Italy.
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <div class="price-container">
                                            <span class="price">€ 699</span>
                                        </div>
                                        <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                            <i class="material-icons">favorite_border</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-md-3 ml-auto mr-auto">
                                <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="" title="">Load more...</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h2 class="section-title">Categorias:</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/chris9.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Relojes</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">Los mejores relojes del 2018<br><br><br></h3>
                                </a>
                                <p class="card-description">
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver categoria
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/color3.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">buzos</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">Los mejores buzos del 2018<br><br><br></h3>
                                </a>
                                <p class="card-description">
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver categoria
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(../assets/img/examples/chris1.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">camperas</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">Los mejores camperas del 2018<br><br><br></h3>
                                </a>
                                <p class="card-description">
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver categoria
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background" style="background-image: url(../assets/img/dg3.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">pantalones</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">Los mejores pantalones<br><br><br></h3>
                                </a>
                                <p class="card-description">
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver categoria
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-6">
                        <div class="card card-background" style="background-image: url(../assets/img/dg1.jpg)">
                            <div class="card-body">
                                <h6 class="card-category text-info">Carteras</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">Las carteras más hermosas<br><br><br></h3>
                                </a>
                                <p class="card-description">
                                </p>
                                <a href="#pablo" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> Ver categoria
                                </a>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                </div>
            </div>
        </div>
        <!-- section -->#}
    </div>
    

    

        <!--================ imagen =================-->
        {#<div class="main_slider_area container">
            <div id="home_box_slider" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    {% for portada in portadas %}
                    <li data-index="rs-158{{ portada.id }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="{{ base_url() }}/portadas/{{ portada.imagen }}"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ base_url() }}/portadas/{{ portada.imagen }}"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                        {% if portada.alineacion == 1 %}
                            {% set alineacion = 'left' %}
                        {% elseif portada.alineacion == 2 %}
                            {% set alineacion = 'right' %}
                        {% elseif portada.alineacion == 3 %}
                            {% set alineacion = 'center' %}
                        {% endif %}
                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box first_text">
                            <div class="tp-caption tp-resizeme first_text" 
                            data-x="['{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}']" 
                            data-hoffset="['60','60','60','60','20','0']" 
                            data-y="['top','top','top','top','top','top']" 
                            data-voffset="['70','70','70','70','70','70']" 
                            data-fontsize="['48','48','48','48','48','48']"
                            data-lineheight="['56','56','56','56','56','48']"
                            data-width="['none','none','none','none','none']"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}']"
                            >{{ portada.titulo | raw }}</div>

                            <div class="tp-caption tp-resizeme secand_text" 
                                data-x="['{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}']" 
                                data-hoffset="['60','60','60','60','20','0']" 
                                data-y="['top','top','top','top']" data-voffset="['190','190','190','190','190','190']"  
                                data-fontsize="['14','14','14','14','14','14']"
                                data-lineheight="['24','24','24','24','24']"
                                data-width="['300','300','300','300','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}']"
                                >{{ portada.descripcion | raw }}
                            </div>

                            <div class="tp-caption tp-resizeme third_btn" 
                                data-x="['{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}']" 
                                data-hoffset="['60','60','60','60','20','0']" 
                                data-y="['top','top','top','top']" data-voffset="['290','290','290','290','290','290']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}','{{ alineacion }}']">
                                <a class="checkout_btn" href="{{ portada.link }}">{{ portada.boton }}</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        #}
        {# <!--================Categories Product Area =================-->
        <section class="categories_product_main p_80">
            <div class="container">
                <div class="categories_main_inner">
                    <div class="row row_disable">
                        <div class="col-lg-9 float-md-right">
                            <div class="showing_fillter">
                                <div class="row m0">
                                    {#<div class="first_fillter">
                                        <h4>Mostrando 1 a 12 de un total de 30</h4>
                                    </div>
                                    <div class="secand_fillter">
                                        <h4>Ordenar por:</h4>
                                        <select class="selectpicker">
                                            <option>Precio</option>
                                            <option>Popularidad</option>
                                            <option>Descuento</option>
                                        </select>
                                    </div>
                                    <div class="third_fillter">
                                        <h4>Show : </h4>
                                        <select class="selectpicker">
                                            <option>09</option>
                                            <option>10</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                    <div class="four_fillter">
                                        <h4>Vista</h4>
                                        <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                                        <a href="#"><i class="icon_grid-3x3"></i></a>
                                    </div> 
                                </div>
                            </div>
                            <div class="categories_product_area">
                                <div class="row">
                                    {% for producto in productos %}
                                    <div class="col-lg-4 col-sm-6">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">
                                                        <img src="{{ producto.imagen_principal.enlace }}" alt="">
                                                    </a>
                                                    {% if producto.etiqueta == 1 %}
                                                        <h5 class="new">Nuevo</h5>
                                                    {% elseif producto.etiqueta == 2 %}
                                                        <h5 class="sale">{{ etiqueta.descuento }}</h5>
                                                    {% endif %}
                                                </div>
                                                <div class="l_p_text">
                                                   <ul>
                                                        <li class="p_icon"><a href="https://api.whatsapp.com/send?phone=5491125426224&text=Hola, me interesa el producto {{ producto.nombre }} que ví desde la página web. http://freetexs.com.ar{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}"><i class="fa fa-whatsapp"></i></a></li>
                                                        <li><a class="add_cart_btn" href="{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">Ver más</a></li>
                                                        <li class="p_icon"><a href="{{ path_for('contacto') }}"><i class="fa fa-comments"></i></a></li>
                                                    </ul>
                                                    <h4>{{ producto.nombre }}</h4>
                                                    <h5><del>${{ producto.precio + 2 }}.00</del>  ${{ producto.precio }}.00</h5>
                                                </div>
                                            </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <nav aria-label="Page navigation example" class="pagination_area">
                                  <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    {#<li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 float-md-right">
                            <div class="categories_sidebar">
                                <aside class="l_widgest l_p_categories_widget">
                                    <div class="l_w_title">
                                        <h3>Categorias</h3>
                                    </div>
                                    <ul class="navbar-nav">
                                        {% for categoria in categorias %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path_for('categoria.ver', {'titulo': categoria.nombre|trim|replace({' ':'-'})|e|lower }) }}">{{ categoria.nombre }} 
                                                    <i class="icon_plus" aria-hidden="true"></i>
                                                <i class="icon_minus-06" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </aside>
                                {# <aside class="l_widgest l_fillter_widget">
                                    <div class="l_w_title">
                                        <h3>Filter section</h3>
                                    </div>
                                    <div id="slider-range" class="ui_slider"></div>
                                    <label for="amount">Price:</label>
                                    <input type="text" id="amount" readonly>
                                </aside>
                                 <aside class="l_widgest l_color_widget">
                                    <div class="l_w_title">
                                        <h3>Color</h3>
                                    </div>
                                    <ul>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </aside>
                                <aside class="l_widgest l_menufacture_widget">
                                    <div class="l_w_title">
                                        <h3>Manufacturer</h3>
                                    </div>
                                    <ul>
                                        <li><a href="#">Nigel Cabourn.</a></li>
                                        <li><a href="#">Cacharel.</a></li>
                                        <li><a href="#">Calibre (Menswear)</a></li>
                                        <li><a href="#">Calvin Klein.</a></li>
                                        <li><a href="#">Camilla and Marc</a></li>
                                    </ul>
                                </aside> 
                                <aside class="l_widgest l_feature_widget">
                                    <div class="l_w_title">
                                        <h3>Productos Destacados:</h3>
                                    </div>
                                    {% for destacado in destacados %}

                                        <a href="{{ path_for('articulo.ver', {'titulo': destacado.nombre|trim|replace({' ':'-'})|e|lower, 'id': destacado.id }) }}">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{ destacado.imagen_principal.enlace }}" alt="{{ destacado.titulo }}" width="100px" height="80px">
                                        </div>
                                        <div class="media-body">
                                            <h4>{{ destacado.nombre | raw}}</h4>
                                            <h5>$ {{ destacado.precio }}</h5>
                                        </div>
                                    </div>
                                        </a>
                                    <hr>
                                    {% endfor %}
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product Area =================-->
        #}
{% endblock %}

{% block custom_js %}

{% endblock %}