{% extends "guest_views/base_fixed.twig" %}

{% block head %}
    <meta property="og:title" content="{{ producto.nombre }}" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="http://freetexs.com.ar{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}">
    <meta property="og:image" content="http://freetexs.com.ar{{ producto.imagen_principal.enlace }}" />
{% endblock %}

{% block aditional_css %}
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ base_url() }}/assets/assets-for-demo/demo.css" rel="stylesheet" />
    <link href="{{ base_url() }}/assets/assets-for-demo/vertical-nav.css" rel="stylesheet" />
{% endblock %}

{% block title %} Inicio {% endblock %}
{% block content %}
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&apos;../assets/img/examples/clark-street-merc.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <div class="brand">
                        <h1 class="title">{{ categoria.nombre }}</h1>
                        <h4>¡Lo mejor de lo mejor, solo en Compro en Linea!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray">
        <div class="container">
            <div class="main main-raised main-product" style="padding: 40px !important; margin: -100px 30px 0px !important;">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                       <div class="card card-raised card-carousel">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                	{% set cuenta = 0 %}
                                    {% for imagen in producto.imagenes %}
                                    	{% set cuenta = cuenta + 1 %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ cuenta }}" class=""></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% set active = 0 %}
                                    {% for imagen in producto.imagenes %}
                                    <div class="carousel-item {% if active == 0 %}active{% endif %}">
                                    	{% set active = 1 %}
                                        <img class="d-block w-100" src="{{ imagen.enlace }}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4>
                                            </h4>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h2 class="title"> {{ producto.nombre }} </h2>
                        <h3 class="main-price">$ {{ producto.precio }}</h3>
                        <div id="accordion" role="tablist">
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Descripción básica:
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ producto.descripcion }}
                                    </div>
                                </div>
                            </div>
                            {#<div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Información del producto
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Pequeña descripción del producto 
                                    </div>
                                </div>
                            </div>#}
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Detalles y cuidado
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li>Storm and midnight-blue stretch cotton-blend</li>
                                            <li>Notch lapels, functioning buttoned cuffs, two front flap pockets, single vent, internal pocket</li>
                                            <li>Two button fastening</li>
                                            <li>84% cotton, 14% nylon, 2% elastane</li>
                                            <li>Dry clean</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row pick-size">
                            <div class="col-md-6 col-sm-6">
                                <label>Seleccione color</label>
                                <select class="selectpicker" data-style="select-with-transition" data-size="7">
                                    <option value="1">Rojo </option>
                                    <option value="2">Gris</option>
                                    <option value="3">Negro</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Tamaño</label>
                                <select class="selectpicker" data-style="select-with-transition" data-size="7">
                                    <option value="1">Small </option>
                                    <option value="2">Medium</option>
                                    <option value="3">Large</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-rose btn-round">Añadir al carrito &#xA0;<i class="material-icons">shopping_cart</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">local_shipping</i>
                            </div>
                            <h4 class="info-title">Envío a domicilio</h4>
                            <p>Nuestro servicio de logistica se encarga de que todos tus productos lleguen a destino en el mejor tiempo posible.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="info-title">Política de Devolución</h4>
                            <p>Nuestros productos cuentan con una política de devolución en casos de que se cumplan ciertos requisitos.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-rose">
                                <i class="material-icons">favorite</i>
                            </div>
                            <h4 class="info-title">Favoritos</h4>
                            <p>Comprá tus productos favoritos en Compro en Linea, cada vez que veas un producto te recomendaremos otros basados en tus gustos..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-products">
                <h3 class="title text-center">Tal vez te pueda interesar:</h3>
                <div class="row">
                    {% for destacado in destacados %}
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-product">
                                <div class="card-header card-header-image">
                                    <a href="{{ path_for('articulo.ver', {'titulo': destacado.nombre|trim|replace({' ':'-'})|e|lower, 'id': destacado.id }) }}">
                                        <img class="img" src="{{ destacado.imagen_principal.enlace }}">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-rose">CATEGORIA</h6>
                                    <h4 class="card-title">
                                        <a href="{{ path_for('articulo.ver', {'titulo': destacado.nombre|trim|replace({' ':'-'})|e|lower, 'id': destacado.id }) }}"{{ destacado.nombre | raw}}</a>
                                    </h4>
                                    <div class="card-description">
                                        Pequeña descripción para llamar la atención del vendedor.
                                    </div>
                                </div>
                                <div class="card-footer justify-content-between">
                                    <div class="price">
                                        <h4>${{ destacado.precio }}</h4>
                                    </div>
                                    <div class="stats">
                                        <button type="button" rel="tooltip" title="Saved to Wishlist" class="btn btn-just-icon btn-link btn-rose">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

	    {#<!--================Categories Banner Area =================-->
        <section class="categories_banner_area" style="background: url({{ base_url() }}/categorias/{{ categoria.imagen }}) no-repeat scroll center center; background-size: cover; position: relative; z-index: 3;">
            <div class="container">
                <div class="c_banner_inner">
                    <h3>{{ categoria.nombre }}</h3>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">{{ categoria.nombre }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Categories Banner Area =================-->
        
        <!--================Product Details Area =================-->
        <section class="product_details_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="product_details_slider">
                            <div id="product_slider" class="rev_slider" data-version="5.3.1.6">
                                <ul>    
                                    {% for imagen in producto.imagenes %}
                                        <!-- SLIDE  -->
                                        <li data-index="rs-13722144{{ imagen.id }}" data-transition="scaledownfrombottom" data-slotamount="7"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb="{{ imagen.enlace }}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Ishtar X Tussilago" data-param1="25/08/2015" data-description="">
                                            <!-- MAIN IMAGE -->
                                            <img src="{{ imagen.enlace }}"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                                            <!-- LAYERS -->
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="product_details_text">
                            <h3>{{ producto.nombre }}</h3>
                            <ul class="p_rating">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <div class="add_review">
                                <a href="#">{{ producto.vistas }} vistas</a>
                            </div>
                            {% if producto.disponibilidad == 0 %}
                                {% set disponibilidad = 'El producto se encuentra <span style="color: #FF0000;">No Disponible</span>' %}
                            {% elseif producto.disponibilidad == 1 %}
                                {% set disponibilidad = 'El producto se encuentra <span style="color: #0dda2a;">En Stock</span>' %}
                            {% elseif producto.disponibilidad == 2 %}
                                {% set disponibilidad = 'El producto se solicita <span style="color: #0000FF;">A Pedido</span>' %}
                            {% elseif producto.disponibilidad == 3 %}
                                {% set disponibilidad = 'El producto se encuentra <span style="color: #FF0000;">Sin Stock</span>' %}
                            {% endif %}
                            <h6>{{ disponibilidad | raw }}</h6>
                            <h4>${{ producto.precio }}.00</h4>
                            <p>Este producto se encuentra en venta, contactanos para más información.
                            <a class="add_cart_btn" style="color:#FFF;" data-toggle="modal" data-target="#myModal">Guía de talles</a>
                            </p>
                            
                            <div class="p_color">
                                <h4 class="p_d_title">color <span>*</span></h4>
                                <ul class="color_list">
                                     {% if "1" in colores %}
                                        <li><a style="background: #000 !important;"></a></li>
                                    {% endif %} 
                                    {% if "2" in colores %}
                                        <li><a style="background: #FE2E2E !important;"></a></li>
                                    {% endif %} 
                                    {% if "3" in colores %}
                                        <li><a style="background: #0101DF !important;"></a></li>
                                    {% endif %} 
                                    {% if "4" in colores %}
                                        <li><a style="background: #FFFF00 !important;"></a></li>
                                    {% endif %} 
                                    {% if "5" in colores %}
                                        <li><a style="background: #298A08 !important;"></a></li>
                                    {% endif %} 
                                </ul>
                            </div>
                            <div class="p_color">
                                <h4 class="p_d_title">Tamaño <span>*</span></h4>
                                <select class="selectpicker">
                                     {% if "1" in colores %}
                                        <option>XS</option>
                                    {% endif %} 
                                    {% if "2" in colores %}
                                        <option>S</option>
                                    {% endif %} 
                                    {% if "3" in colores %}
                                        <option>M</option>
                                    {% endif %} 
                                    {% if "4" in colores %}
                                        <option>L</option>
                                    {% endif %} 
                                    {% if "5" in colores %}
                                        <option>XL</option>
                                    {% endif %}
                                </select>
                            </div>
                            <br>
                                <a class="add_cart_btn" href="https://api.whatsapp.com/send?phone=5491125426224&text=Hola, me interesa el producto {{ producto.nombre }} que ví desde la página web.  http://freetexs.com.ar{{ path_for('articulo.ver', {'titulo': producto.nombre|trim|replace({' ':'-'})|e|lower, 'id': producto.id }) }}"><i class="fa fa-whatsapp"></i></a>
                                <a class="add_cart_btn" href="{{ path_for('contacto') }}">Comprar</a>
                                <a class="add_cart_btn" href="tel:+5491125426224"><i class="fa fa-phone"></i></a>
                            <br>
                            <br>
                            <div class="shareing_icon">
                                <h5>Compartir en redes sociales :</h5>
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/freetexs/"><i class="social_facebook"></i></a></li>
                                    <li><a target="_blank" href="https://www.instagram.com/freetexs/"><i class="social_instagram"></i></a></li>
                                    <li><a target="_blank" href="https://listado.mercadolibre.com.ar/_CustId_151257553"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a target="_blank" href="https://api.whatsapp.com/send?phone=5491125426224&text=Hola me contacto desde la página web de FreeTEXS."><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Product Details Area =================-->
        
        <!--================Product Description Area =================-->
        <section class="product_description_area">
            <div class="container">
                <nav class="tab_menu">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descripción del producto</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Tags</a>
                        <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false">Información</a>
                        <a class="nav-item nav-link" id="nav-gur-tab" data-toggle="tab" href="#nav-gur" role="tab" aria-controls="nav-gur" aria-selected="false">Garantía</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        Pequeña descripción del producto 
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <p>Este producto tiene los siguientes tags: {{ producto.tags }}</p>
                    </div>
                    <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <p>Colores disponibles:
                        {% if "1" in colores %}
                            Negro 
                        {% endif %} 
                        {% if "2" in colores %}
                            Rojo
                        {% endif %} 
                        {% if "3" in colores %}
                            Azul
                        {% endif %} 
                        {% if "4" in colores %}
                            Amarillo
                        {% endif %} 
                        {% if "5" in colores %}
                            Verde
                        {% endif %} 
                        <br>
                        Talles disponibles disponibles: 
                        {% if "1" in talles %}
                            XS 
                        {% endif %} 
                        {% if "2" in talles %}
                            S
                        {% endif %} 
                        {% if "3" in talles %}
                            M
                        {% endif %} 
                        {% if "4" in talles %}
                            L
                        {% endif %} 
                        {% if "5" in talles %}
                            XL
                        {% endif %} 
                        <br>Material: {{ producto.material }}<br>Orígen: Fábrica FREETEXS</p>
                    </div>
                    <div class="tab-pane fade" id="nav-gur" role="tabpanel" aria-labelledby="nav-gur-tab">
                        <p>Aquí se colocaran los terminos y condiciones de la garantías de los productos de la tienda.</p>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Product Details Area =================-->
        
        <!--================End Related Product Area =================-->
        <section class="related_product_area">
            <div class="container">
                <div class="related_product_inner">
                    <h2 class="single_c_title">Productos relacionados</h2>
                    <div class="row">
                        {% for destacado in destacados %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="{{ destacado.imagen_principal.enlace }}" alt="{{ destacado.titulo }}" >
                                    {% if destacado.etiqueta == 1 %}
                                        <h5 class="new">Nuevo</h5>
                                    {% elseif destacado.etiqueta == 2 %}
                                        <h5 class="sale">{{ etiqueta.descuento }}</h5>
                                    {% endif %}
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li><a class="add_cart_btn" href="{{ path_for('articulo.ver', {'titulo': destacado.nombre|trim|replace({' ':'-'})|e|lower, 'id': destacado.id }) }}">Ver producto</a></li>
                                    </ul>
                                    <h4>{{ destacado.nombre | raw}}</h4>
                                    <h5>$ {{ destacado.precio }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Guía de talles de FreeTEXS:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <img class="img-fluid" src="http://freetexs.com.ar/talles.jpeg">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>

          </div>
        </div>
        <!--================End Related Product Area =================-->#}
{% endblock %}

{% block custom_js %}
    <script>
        $(document).ready(function() {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                itemsToScroll: 1,
                animationSpeed: 400,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 3
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 3
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });
    </script>
{% endblock %}