<header class="main-header">
	<a href="" class="logo">
		<span class="logo-mini"><b>CEL</b></span>
		<span class="logo-lg"><b>ComproEnLinea</b></span>
	</a>
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
		        {# ------------- #}

		        {#notificaciones 
				|
				| categoria 1: prospectos (mostrar nombre de prospecto sin atender)
				| categoria 2: tickets (mostrar tickets sin atender)
				| categoria 3: correo (mostrar cantidad de correos sin leer)
				| categoria 4: notificacion (ciro admin) 
				| categoria 5: cumpleaños
				| categoria 6: objetivo
				|
				| estados:
				| 0-> sin leer
				| 1-> leído
				| 2-> eliminada
				| 
				| canales:
				| 1-> notificacion web
				| 2-> worker chrome
				| 3-> worker app
				| 4-> correo electronico
				| 5-> correo electronico alternativo
				|
		        #}

		        <li class="dropdown notifications-menu">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		              <i class="fa fa-bell-o"></i>
		              <span class="label label-warning">{{ auth.empleado.notificaciones|length }}</span>
		            </a>
		            <ul class="dropdown-menu">
		              <li class="header">Tienes {{ auth.empleado.notificaciones|length }} notificacion/es.</li>
		              <li>
		                <!-- inner menu: contains the actual data -->
		                <ul class="menu">
		                	{% if auth.empleado.notificaciones|length > 0 %}
		                  	{% for notificacion in auth.empleado.notificaciones %}
		                  	<li>
		                  		{% if notificacion.estado == 0 %}
		                    		{% set color = "text-red" %}
		                    	{% elseif notificacion.estado == 1 %}
		                    		{% set color = "text-green" %}
		                    	{% elseif notificacion.estado == 2 %}
		                    		{% set color = "text-gray" %}
		                    	{% endif %}
	                    		{% if notificacion.categoria == 1 %}
	                      			{% set icono = "fa-list" %}
	                      			{% set link = path_for('prospectos.index') %}
	                      		{% elseif notificacion.categoria == 2 %}
	                      			{% set icono = "fa-ticket" %}
	                      			{% set link = path_for('tickets.index') %}
	                      		{% elseif notificacion.categoria == 3 %}
	                      			{% set icono = "fa-envelope-o" %}
	                      			{% set link = path_for('correo.index') %}
	                      		{% elseif notificacion.categoria == 4 %}
	                      			{% set icono = "fa-info-circle" %}
	                      		{% elseif notificacion.categoria == 5 %}
	                      			{% set icono = "fa-birthday-cake" %}
	                      		{% elseif notificacion.categoria == 6 %}
	                      			{% set icono = "fa-check-square-o" %}
	                      		{% endif %}

		                    	<a href="{{ link }}" onclick="notificacion_abierta({{ notificacion.id }});">
		                      		<i class="fa {{icono}} {{color}}"></i> {{ notificacion.mensaje }}
		                      	</a>
		                  	</li>
		              		{% endfor %}
		              		{% else %}
		              		<li>
		                    	<a><i class="fa fa-check-circle text-green"></i> Estas al día!</a>
		                  	</li>
		              		{% endif %}
		                </ul>
		              </li>
		              <li class="footer"><a href="{{ path_for('notificaciones.index') }}">Ver todas las notificaciones</a></li>
		            </ul>
		          </li>

		        {# ayuda #}
				<li>
		            <a href="{{path_for('ayuda.index')}}">
		              <i class="fa fa-book"></i>
		            </a>
		        </li>
		        {# #}

				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img {% if auth.empleado.fotoperfil == NULL %} src="{{base_url}}/images/default-avatar.png" {% else %} src="{{base_url}}/perfil/{{auth.empleado.fotoperfil}}" {% endif %} class="user-image">
						<span class="hidden-xs">{{ auth.individuo.nombre }}</span>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header">
							<img {% if auth.empleado.fotoperfil == NULL %} src="{{base_url}}/images/default-avatar.png" {% else %} src="{{base_url}}/perfil/{{auth.empleado.fotoperfil}}" {% endif %} class="img-circle">
							<p>
								{{ auth.individuo.nombre }} {{ auth.individuo.apellido }}
								<small>{{ auth.empleado.puesto.nombre }}</small>
							</p>
						</li>
						<li class="user-footer">
							<div class="pull-left">
								<a href="{{ path_for('perfil.index') }}" class="btn btn-default btn-flat">Perfil</a>
							</div>
							<div class="pull-right">
								<a href="{{path_for('auth.signout')}}" class="btn btn-default btn-flat">Cerrar sesión</a>
							</div>
						</li>
					</ul>

				</li>




				{# <li>
					<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
				</li>#}
			</ul>




		</div>
	</nav>
</header>