<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img {% if auth.empleado.fotoperfil == NULL %} src="{{base_url}}/images/default-avatar.png" {% else %} src="{{base_url}}/perfil/{{auth.empleado.fotoperfil}}" {% endif %} class="img-circle">
			</div>
			<div class="pull-left info">
				<p>{{ auth.individuo.nombre }} {{ auth.individuo.apellido }}</p>
			</div>
		</div>

		<ul class="sidebar-menu tree" data-widget="tree">			
			<li>
				<a href="{{path_for('home')}}">
					<i class="fa fa-arrow-left"></i>
					<span>Volver a la home</span>
				</a>
			</li>
			<li>
				<a href="{{path_for('admin.index')}}">
					<i class="fa fa-dashboard"></i>
					<span>Escritorio</span>
				</a>
			</li>
			{% for modulo in auth.modulos %}
				{% if modulo.TengoAcceso %}
					<li class="treeview">
						<a href="{{ path_for(modulo.enlace_modulo) }}">
							<i class="fa {{ modulo.icono_modulo }}"></i>
							<span>{{ modulo.nombre_modulo }}</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							{% for enlace in modulo.getEnlaces %}
								{% for permiso in auth.permisos %}
									{% if permiso.id_enlace == enlace.id %}
										{% if enlace.tipo_enlace == 1 %}
											<li><a href="{{path_for(enlace.url_name)}}">{{ enlace.nombre }}</a></li>
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endfor %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
</aside>