body{padding-top:40px;padding-bottom:40px;background-color:#eee;}.form-signup{max-width:420px;padding:15px;margin:0 auto;}.form-signup .form-signup-heading,.form-signup .checkbox{margin-bottom:10px;}.form-signup .checkbox{font-weight:normal;}.form-signup .form-control{position:relative;height:auto;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px;font-size:16px;}.form-signup .form-control:focus{z-index:2;}.form-signup input{border-radius:0px;}.form-signup .checkbox{font-size:13px;}.form-signup .btn-md{border-radius:0px;}.form-signup .checkbox label{margin:0px;line-height:13px;}.login-logo{height:175px;display:block;margin:auto;padding-bottom:10px;}#btn-signup{cursor:pointer;}#btn-signup:disabled{cursor:default;}.thingslike{display:inline-block;padding-right:10px;}.np{padding:0px;}.nm{margin:0px;}.bd-callout{margin-top:1rem;margin-bottom:1rem;}.form-signup .bd-callout p{font-size:14px;}.welcome-title{font-size:30px;font-weight:800;text-align:center;color:#103663;}.has-error input{border:1px solid #e53935;box-shadow:0px 0px 3px .1px #b71c1c;border-radius:2px;}.has-error input:focus{border-color:#e53935;}.form-group.has-error .help-block{font-size:12px;color:#b71c1c;font-weight:bold;text-align:left;display:block;margin-top:2.5px;}
.btn-social {	font-size: .8em; border-radius: 0px; margin-top: 1em; margin-bottom: 1em; }
.login-facebook-col {
	padding-right: 0px;
}
.login-google-col {
	padding-left: 0px;
}

@media (min-width: 576px) {
	.login-facebook-col {
		width: 50%;
		padding-left: 15px;
	}
	.login-google-col {
		width: 50%;
		padding-right: 15px;
	}
}

@media (max-width: 576px) {
	.btn-social {	font-size: .7em; }
	.login-facebook-col {
		width: 50%;
		padding-left: 15px;
	}
	.login-google-col {
		width: 50%;
		padding-right: 15px;
	}
}