{% extends "guest_views/base_fixed.twig" %}
{% block head %}
{% endblock %}
{% block aditional_css %}
	<link rel="stylesheet" href="{{static_assets}}/css/basic/faqs.css" />
{% endblock %}
{% block title %} Preguntas Frecuentes {% endblock %}
{% block content %}
	<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&apos;../assets/img/bg9.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Compro en Linea</h1>
                    <h4>¡Bienvenido a nuestro nuevo portal, sector en construcción!</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            {#<div class="about-description text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                    </div>
                </div>
            </div>
            <div class="about-team team-1">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">We are nerd rockstars</h2>
                        <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/faces/marc.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Alec Thompson</h4>
                                <h6 class="category text-muted">CEO / Co-Founder</h6>
                                <p class="card-description">
                                    And I love you like Kanye loves Kanye. We need to restart the human foundation.
                                </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-google">
                                    <i class="fa fa-google"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/faces/kendall.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Tania Andrew</h4>
                                <h6 class="category text-muted">Designer</h6>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
                                </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/faces/christian.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Christian Mike</h4>
                                <h6 class="category text-muted">Web Developer</h6>
                                <p class="card-description">
                                    I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                                </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/faces/avatar.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Rebecca Stormvile</h4>
                                <h6 class="category text-muted">Web Developer</h6>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation.
                                </p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-services features-2">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">We build awesome products</h2>
                        <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">gesture</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">1. Design</h4>
                                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">build</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">2. Develop</h4>
                                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">mode_edit</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">3. Make Edits</h4>
                                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-office">
                <div class="row text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Our office is our second home</h2>
                        <h4 class="description">Here are some pictures from our office. You can see the place looks like a palace and is fully equiped with everything you need to get the job done.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/examples/office2.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/examples/office4.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/examples/office3.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/examples/office5.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-raised rounded img-fluid" alt="Raised Image" src="../assets/img/examples/office1.jpg">
                    </div>
                </div>
            </div>#}
            <div class="about-contact">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center title">Deseas trabajar con nosotros?</h2>
                        <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will get back to you in a couple of hours.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="bmd-label-floating">Your name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="bmd-label-floating">Your Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <select class="selectpicker " data-style="select-with-transition" data-size="7">
                                        <option value="1" disabled>Speciality</option>>
                                        <option value="2">I&apos;m a Designer</option>
                                        <option value="3">I&apos;m a Developer</option>
                                        <option value="4">I&apos;m a Hero</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-primary btn-round">
                                        Let&apos;s talk
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <br>
        <br>
{% endblock %}