<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />
		<meta name="author" content="Ciro Automotores" />
		<base href="{{ base_url() }}/administracion" />
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="/bootstrap-3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/AdminLTE.min.css" />
		<link rel="stylesheet" href="/css/skins/skin-blue.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/ionicons.min.css" />
		
		<link rel="stylesheet" href="/asources/css/default.css" />

		{% block aditional_css %}
		{% endblock %}
		<title>
		{% block title %}{% endblock %} - Admin
		</title>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			{% set lipsum = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices, turpis in pretium tincidunt, leo ipsum consectetur ante, quis tincidunt purus odio a enim. Pellentesque ultricies nisi vel leo pretium, sed finibus nisi pharetra. Maecenas tempus augue metus, finibus sagittis mi porttitor consectetur. Aliquam sem felis, pharetra at tincidunt sit amet, congue sit amet nibh. Morbi finibus posuere quam, porttitor consectetur nisl aliquet sed. Donec nec consectetur erat, in sollicitudin lorem. Aenean rutrum augue sit amet tellus congue, fringilla blandit tortor convallis. Donec turpis eros, hendrerit sed lobortis et, sollicitudin eget magna. Aenean non commodo eros. Proin sem quam, tempus ac urna luctus, elementum lacinia lorem. Nulla sollicitudin arcu pretium, rutrum metus quis, tincidunt nunc. Aliquam id pharetra lorem. In hendrerit scelerisque diam, eget semper quam ultrices in. Praesent ullamcorper elit ac pharetra ultricies. Mauris ac commodo nulla.' %}
			{% include 'admin_views/admin_partials/header.twig' %}
			{% include 'admin_views/admin_partials/navbar.twig' %}
			<div class="content-wrapper">
				<div class="container-fluid">
					<section class="content-header">
						<h1 class="text-bold">{% block header_title %}{% endblock %}</h1>
						<ol class="breadcrumb">
							<li><a href="{{path_for('admin.index')}}"><i class="fa fa-home"></i>ComproEnLinea</a></li>
							{% block breadcrumb %}{% endblock %}
						</ol>
					</section>
					<section class="content">
						{% block content %}{% endblock %}
					</section>
				</div>
			</div>
			{% include 'admin_views/admin_partials/footer.twig' %}
			{% include 'admin_views/admin_partials/control-sidebar.twig' %}
		</div>
		<script src="/js/jquery-1.12.4.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/bootstrap-3.3.6/js/bootstrap.min.js"></script>
		<script src="/js/moment.min.js"></script>
		<script src="/asources/js/adminlte.min.js"></script>
		<script src="/asources/js/main.js"></script>
		<script src="/asources/js/notificaciones.js"></script>
		{% block custom_js %}{% endblock %}
	</body>
</html>