<!-- section -->
    <div class="subscribe-line subscribe-line-image" data-parallax="true" style="background-image: url(&apos;../assets/img/examples/ecommerce-header.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="text-center">
                        <h3 class="title">Subscribite a nuestro boletín de novedades</h3>
                        <p class="description">
                           ¡Suscribite a nuestro boletín de novedades!
                        </p>
                    </div>
                    <div class="card card-raised card-form-horizontal">
                        <div class="card-body">
                            <form method="" action="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">mail</i>
                                            </span>
                                            <div class="form-group has-default bmd-form-group">
                                                <input type="text" class="form-control" placeholder="Tu correo electrónico...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-rose btn-block">Suscribite</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="social-line social-line-big-icons social-line-white">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" class="btn btn-link btn-just-icon btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-link btn-just-icon btn-facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-link btn-just-icon btn-google">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-link btn-just-icon btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-link btn-just-icon btn-youtube">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-link btn-just-icon btn-instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
<footer class="footer footer-black footer-big">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Redes Sociales</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <a href="https://www.instagram.com/comproenlinea/"><i class="fa fa-instagram"></i>
                                <p>¡Seguínos en Instagram y no te pierdas de ninguna novedad!</p></a>
                            </div>
                            <div class="feed-line">
                                <a href="https://api.whatsapp.com/send?phone=5491157191034&text=Hola,%20tengo%20una%20consulta"><i class="fa fa-whatsapp"></i>
                                <p>¡Envianos un mensaje ahora mismo y te respondemos con la mejor onda!</p></a>
                            </div>
                            <div class="feed-line">
                                <a href="https://www.instagram.com/comproenlinea/"><i class="fa fa-facebook-square"></i>
                                <p>¡Seguínos en Facebook y no te pierdas ningún concurso, animate a ganar!.</p></a>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-2">
                        <h5>Legal</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <a href="#">
                                    <p>Preguntas Frecuentes</p>
                                </a>
                            </div>
                            <div class="feed-line">
                                <a href="#">
                                    <p>Terminos &amp; Condiciones</p>
                                </a>
                            </div>
                            <div class="feed-line">
                                <a href="#">
                                    <p>Licencias</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5>Enlaces</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <a href="#">
                                    <p>Blog</p>
                                </a>
                            </div>
                            <div class="feed-line">
                                <a href="#">
                                    <p>Nuestra historia</p>
                                </a>
                            </div>
                            <div class="feed-line">
                                <a href="#">
                                    <p>Prensa</p>
                                </a>
                            </div>
                            <div class="feed-line">
                                <a href="#">
                                    <p>Manda tu CV</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <br>
                        <img src="{{ base_url() }}/images/logo4.png" width="200px;">
                        <br>
                        <hr>
                        <p>Compro en Linea es una tienda de productos online, aquí puede ir un texto extra que represente a la marca.</p>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="float-left">
                <li>
                    <a href="#">
                        CATEGORIAS
                    </a>
                </li>
                <li>
                    <a href="#">
                        NOSOTROS
                    </a>
                </li>
                <li>
                    <a href="#">
                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="#">
                        MÉTODOS DE PAGO
                    </a>
                </li>
                <li>
                    <a href="#">
                        CONTACTO
                    </a>
                </li>
            </ul>
            <div class="copyright float-right">
                &#xA9;2018 | Compro en Linea - Todos los derechos reservados
                <br>
                Programado por <a href="http://torquedigital.com.ar">TorqueDigital</a>
            </div>
        </div>
    </footer>