
    <nav class="navbar    fixed-top  navbar-expand-lg bg-dark" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#"><img src="{{ base_url() }}/images/logo3.png" class="img-fluid" style="width: 50px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">

                <form class="form-inline">
                    <div class="form-group has-white bmd-form-group">
                        <input type="text" class="form-control" placeholder="Buscar productos, marcas, etc..">
                    </div>
                    <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
                        <i class="material-icons">search</i>
                    </button>
                </form>      

                <ul class="navbar-nav navbar-center ml-auto">
                    <li class="nav-item">
                        <a href="{{ path_for('inicio') }}" class="nav-link">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('faqs') }}" class="nav-link">
                            Nosotros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('productos') }}" class="nav-link">
                            Productos
                        <div class="ripple-container"></div></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('contacto') }}" class="nav-link">
                            Contacto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
                            <i class="material-icons">shopping_cart</i>
                        </a>
                    </li>
                    {#<li class="dropdown nav-item">
                        <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
                            <div class="profile-photo-small">
                                <img src="assets/img/faces/avatar.jpg" alt="Circle Image" class="rounded-circle img-fluid">
                            </div>
                        <div class="ripple-container"></div></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Perfil de Nombre_Usuario</h6>
                            <a href="#pablo" class="dropdown-item">Administrador</a>
                            <a href="#pablo" class="dropdown-item">Configuración del sitio</a>
                            <a href="#pablo" class="dropdown-item">Cerrar sesión</a>
                        </div>
                    </li>#}
                </ul>
            </div>
        </div>
    </nav>