{% extends "admin_views/base.twig" %}
{% block aditional_css %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block title %}Documentación y Manual de Usuario - Crear Manual{% endblock %}
{% block header_title %}Documentación y Manual de Usuario - Crear Manual{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('ayuda.index')}}">Ayudar</a></li>
	<li><a href="{{path_for('ayuda.index')}}">Editar Manual</a></li>
{% endblock %}
{% block content %}
<div class="row publicacion create">
	<form name="veh_upload_basic_form" method="POST" action="{{path_for('ayuda.editarpost',  {	'id': id })}}">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-4 col-sm-12 md-pull-right">
					<div class="callout callout-info">
						<h4><i class="fa fa-question-circle"></i> ¿Sabías esto?</h4>
						<p>Los manuales se asignan automaticamente según los permisos de los usuarios al sistema, por lo que no será necesario realizar configuración adicional después de crearlos.</p>
						<p class="text-bg-muted db-txtr"><strong>#CiroAdminTips</strong></p>
					</div>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title text-bold">Formulario de creación:</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label for="manual_titulo">Titulo de la documentación</label>
										<input type="text" class="form-control" name="manual_titulo" id="manual_titulo" placeholder="Titulo de la publicación" autocomplete="off" required data-toggle="tooltip" data-placement="auto" title="Ingresá el titulo de la documentación." value="{{ manual.nombre }}">
									</div>
									<div class="col-sm-6">
										<label for="manual_titulo">Seleccione la categoria de la ayuda</label>
										<select class="form-control" name="manual_categoria" id="manual_categoria">
										{% for modulo in modulos %}
									    	<option value="{{modulo.id}}">{{modulo.nombre_modulo}}</option>
										{% endfor %}
									</select>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<label for="manual_titulo">Descripción de la documentación</label>
										<input type="text" class="form-control" name="manual_descripcion" id="manual_descripcion" placeholder="Descripción de la publicación" autocomplete="off" required data-toggle="tooltip" data-placement="auto" title="Ingresá el titulo de la documentación." value="{{ manual.descripcion }}">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<label for="manual_contenido">Contenido de la documentación</label>
										<textarea class="form-control"  name="manual_contenido" id="manual_contenido" placeholder="Contenido de la documentación" autocomplete="off" required data-toggle="tooltip" data-placement="auto">{{ manual.texto }}</textarea>											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title text-bold">Fin del formulario</h3>
						</div>
						<div class="box-body">
							<button class="btn btn-primary btn-flat pull-right" type="submit">Editar documentación</button>
							<button class="btn btn-default btn-flat pull-left" type="reset">Limpiar campos</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ csrf.field | raw }}
	</form>
</div>
{% endblock %}
{% block custom_js %}
	<script src="//cdn.ckeditor.com/4.9.0/full/ckeditor.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var editor = CKEDITOR.replace( 'manual_contenido', {
			height: 230,
			toolbarGroups: [
				{"name":"basicstyles","groups":["basicstyles"]},
				{"name":"links","groups":["links"]},
				{"name":"paragraph","groups":["list","blocks", "align"]},
				{"name":"document","groups":["mode"]},
				{"name":"insert","groups":["insert"]},
				{"name":"styles","groups":["styles"]},
				{"name":"about","groups":["about"]}
			],
			// Remove the redundant buttons from toolbar groups defined above.
			filebrowserBrowseUrl : '{{base_url()}}/ckfinder/ckfinder.html',
		    filebrowserImageBrowseUrl : '{{base_url()}}/ckfinder/ckfinder.html?type=Images',
		    filebrowserFlashBrowseUrl : '{{base_url()}}/ckfinder/ckfinder.html?type=Flash',
		    filebrowserUploadUrl : '{{base_url()}}/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
		    filebrowserImageUploadUrl : '{{base_url()}}/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
		    filebrowserFlashUploadUrl : '{{base_url()}}/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
		});
		CKFinder.setupCKEditor( editor, '../' );
	});
	</script>
{% endblock %}