{% extends "admin_views/base.twig" %}
{% block aditional_css %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block title %}Documentación y Manual de Usuario{% endblock %}
{% block header_title %}Documentación disponible para el usuario:{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('ayuda.index')}}">Ayuda</a></li>
	<li><a href="{{path_for('ayuda.index')}}">Documentación</a></li>
	<li><a href="{{path_for('ayuda.ver', {'id': manual.id })}}">{{ manual.nombre }}</a></li>
{% endblock %}
{% block content %}
<div class="row prospectos listado">
  <div class="box">
    <div class="box-header with-border">
      	<h3 class="box-title">{{ manual.nombre }}</h3> - {{ manual.descripcion}}
      	{% if 33 in auth.permisosEnlaces %}
			<a class="btn btn-flat btn-xs btn-primary" onclick="return confirm('¿Estas seguro que quieres eliminar esta documentación? No hay vuelta atras capo.');" href="{{path_for('ayuda.eliminar', {	'id': manual.id })}}"><i class="fa fa-trash"></i></a>
		{% endif %}
		{% if 32 in auth.permisosEnlaces %}
			<a class="btn btn-flat btn-xs btn-primary" href="{{path_for('ayuda.editar', {	'id': manual.id })}}"><i class="fa fa-pencil"></i></a>
		{% endif %}
    </div>
    <div class="box-body">
    {{ manual.texto | raw }}
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
		Manual creado por el usuario ID: {{ manual.creador }}
    </div>
    <!-- /.box-footer-->
  </div>
</div>
{% endblock %}