<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />
		<meta name="author" content="FREETEXS" />
		<base href="{{ base_url() }}" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{static_assets}}/css/login.css" />
		<title>Gracias por formar parte de FREETEXS</title>
	</head>
	<body>
		<div class="container">
			<div class="form-signup ">
				<img src="/images/logo.png" class="login-logo" alt="Logo Ciro Automotores">
				<h3 class="welcome-title">Gracias por registrarte</h3>
				<p class="text-muted text-center">
					 Te estamos redirigiendo a la página principal.
				</p>				
			</div>
		</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>		
		<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="/js/bootstrap.min.js" ></script>
		<script type="text/javascript">
		$(document).on('ready', function() {
			setTimeout(function(){
				location.href = "";
			}, 3000);
		});
		</script>
	</body>
</html>
