<!DOCTYPE html>
<html lang="es">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<base href="{{ base_url() }}">
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{static_assets}}/css/login.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
	</head>
	<body>
		<div class="container">			
			<form class="form-signup" action="{{ path_for('auth.signin') }}" method="post">

				<input type="hidden" name="return_to" value="{{return_url}}">
				<h2 class="form-signup-heading"><img src="{{static_assets}}/images/logo.png" class="login-logo" alt="Logo FREETEXS"></h2>
				<p class="text-muted">Completá los campos con tus datos de acceso.</p>

				{% include 'guest_views/guest_partials/fixed/flash.twig' %}
				<br>
				<div class="form-group{{ errors.car_email ? ' has-error' : '' }}">
					<label for="car_email" class="sr-only">Dirección de correo electrónico</label>
					<input type="text" id="car_email" name="car_email" class="form-control" placeholder="Dirección de correo electrónico" value="{{ old.car_email }}">
					{% if errors.car_email %}
						<span class="help-block">{{ errors.car_email | first }}</span>
					{% endif %}
				</div>

				<div class="form-group{{ errors.car_password ? ' has-error' : '' }}">
					<label for="car_password" class="sr-only">Contraseña</label>
					<input type="password" id="car_password" name="car_password" class="form-control" placeholder="Contraseña">
					{% if errors.car_password %}
						<span class="help-block">{{ errors.car_password | first }}</span>
					{% endif %}
				</div>
				<button class="btn btn-md btn-primary btn-block" type="submit" id="btn-signin">Iniciar sesión</button>
				{# <div class="row">	
					<div class="col-sm-12">
						<div class="social-buttons">
							<a class="btn btn-block btn-social btn-facebook btn-flat" href="#">
								<span class="fa fa-facebook"></span> Iniciar sesión con Facebook
							</a>
							<!--<div class="col-xs-6 login-facebook-col">
								
							</div>
							<div class="col-xs-6 login-google-col">
								<a class="btn btn-block btn-social btn-google" href="#">
									<span class="fa fa-google"></span> Entrar con Google
								</a>
							</div>-->
						</div>
					</div>
				</div>#}
				<div class="row">	
					<div class="col-sm-12">
						{% if 'vehiculos/filtrar/' in  return_url %}
							{% set return_to = return_url|replace({'vehiculos/filtrar/':''})|trim('/', 'right') %}
							<a href="{{ path_for('auth.signup',{'return_to':return_to}) }}" >Crear cuenta</a>
						{% else %}
							<a href="{{ path_for('auth.signup') }}{% if(return_url != '') %}/{{return_url}}{% endif %}">Crear cuenta</a>
						{% endif %}
						<a href="{% if(return_url != '') %}/{{return_url}}{% endif %}" class="float-right">¿Olvidaste tu contraseña?</a>
					</div>
				</div>
				{{ csrf.field | raw }}
			</form>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.threedubmedia/2.2/event.drag/jquery.event.drag.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="/js/bootstrap.min.js" ></script>

		<script>
			function encodeDataToURL(data){
				return Object
					.keys(data)
					.map(value => `${value}=${encodeURIComponent(data[value])}`)
					.join('&');
			}
			$('.btn-facebook').click(function(e){
				e.preventDefault();
				FB.login(function(response)
					{
						if (response.status === 'connected') {
							GetUserData();
						}
					},
					{
						scope: 'public_profile,email'
					}
				);
			});

			function GetUserData() {
				/*
				Se obtiene:
					- La ID de Facebook del usuario, para guardarla en la base de datos
					y asi poder encontrar y gestionar los datos del mismo.
					- El nombre y el apellido del usuario
					- El email del usuario			
				*/
				FB.api('/me?fields=id,first_name,last_name,email', function(response) {
					
					var data = {
						'id_facebook':response.id,
						'nombre': response.first_name,
						'apellido': response.last_name,
						'email': response.email,
						'return_url': '{{return_url}}',
						'csrf_name': $('#csrf_name').val(),
						'csrf_value': $('#csrf_value').val()
					};

					$.ajax({
						url: "{{path_for('auth.facebook')}}",
						data: encodeDataToURL(data),
						method: "POST",
						cache: false,
						dataType: 'json',
						success: function( data ) {
							if(data.login == true) {
								if(data.return_url != "") {
									location.href = "{{base_url()}}/"+data.return_url;
								}
								else {
									if(data.first_login == true) {
										location.href = "{{path_for('auth.firstwelcome')}}";
									}
									else {
										location.href = "{{path_for('home')}}";
									}
								}								
							}
							else {
								if(data.reason == 'WRONG_ID') {
									alert('El email ya se encuentra registrado.');
								}
							}
						},
						complete: function (jqXHR) {
							var csrfToken = jqXHR.getResponseHeader('X-CSRF-Token');
							if (csrfToken) {
								try {
									csrfToken = $.parseJSON(csrfToken);
									var csrfTokenKeys = Object.keys(csrfToken);
									var hiddenFields = $('input.csrf[type="hidden"]');
									if (csrfTokenKeys.length === hiddenFields.length) {
										hiddenFields.each(function(i) {
											$(this).attr('name', csrfTokenKeys[i]);
											$(this).val(csrfToken[csrfTokenKeys[i]]);
										});
									}
								}
								catch (e) {

								}
							}
						}
					});
				});
			}

			(function(d, s, id){
				 var js, fjs = d.getElementsByTagName(s)[0];
				 if (d.getElementById(id)) {return;}
				 js = d.createElement(s); js.id = id;
				 js.src = "https://connect.facebook.net/en_US/sdk.js";
				 fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

			window.fbAsyncInit = function() {
				FB.init({
					appId      : '1649443715119778',
					cookie     : true,
					xfbml      : true,
					version    : 'v2.8'
				});				
				FB.AppEvents.logPageView();
			};
		</script>
	</body>
</html>
