<!DOCTYPE html>
<html lang="es">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<base href="{{ base_url() }}">
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{static_assets}}/css/login.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
	</head>
	<body>
		<div class="container">			
			<form class="form-signup" action="{{ path_for('auth.signup') }}" method="post">				
				<h2 class="form-signup-heading"><img src="{{static_assets}}/images/logo.png" class="login-logo" alt="Logo Ciro Automotores"></h2>
				<p class="text-muted">Registrate para recibir todas las novedades y <b>ofertas exclusivas</b> en tu casilla de correo.</p>
				<div class="form-group {{ errors.car_nombre ? ' has-error' : '' }}">
					<label for="car_nombre" class="sr-only">Nombre</label>
					<input type="text" id="car_nombre" name="car_nombre" class="form-control" placeholder="Nombre" value="{{ old.car_nombre }}">
					{% if errors.car_nombre %}
						<span class="help-block">{{ errors.car_nombre | first }}</span>
					{% endif %}
				</div>

				<div class="form-group{{ errors.car_apellido ? ' has-error' : '' }}">
					<label for="car_apellido" class="sr-only">Apellido</label>
					<input type="text" id="car_apellido" name="car_apellido" class="form-control" placeholder="Apellido" value="{{ old.car_apellido }}">
					{% if errors.car_apellido %}
						<span class="help-block">{{ errors.car_apellido | first }}</span>
					{% endif %}
				</div>

				<div class="form-group{{ errors.car_email ? ' has-error' : '' }}">
					<label for="car_email" class="sr-only">Dirección de correo electrónico</label>
					<input type="text" id="car_email" name="car_email" class="form-control" placeholder="Dirección de correo electrónico" value="{{ old.car_email }}">
					{% if errors.car_email %}
						<span class="help-block">{{ errors.car_email | first }}</span>
					{% endif %}
				</div>

				<div class="form-group{{ errors.car_phone ? ' has-error' : '' }}">
					<label for="car_phone" class="sr-only">Teléfono</label>
					<input type="tel" id="car_phone" name="car_phone" class="form-control" placeholder="Teléfono" value="{{ old.car_phone }}">
					{% if errors.car_phone %}
						<span class="help-block">{{ errors.car_phone | first }}</span>
					{% endif %}
				</div>

				<div class="form-group{{ errors.car_password ? ' has-error' : '' }}">
					<label for="car_password" class="sr-only">Contraseña</label>
					<input type="password" id="car_password" name="car_password" class="form-control" placeholder="Contraseña">
					{% if errors.car_password %}
						<span class="help-block">{{ errors.car_password | first }}</span>
					{% endif %}
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="todook" class="ipcheckbox" required=""> Acepto los <a href="#">términos de uso</a> y estoy de acuerdo con las <a href="#">políticas de privacidad</a>.
					</label>
				</div>
				<button class="btn btn-md btn-primary btn-block" type="submit" id="btn-signup" disabled>Registrarme</button>
				{{ csrf.field | raw }}
			</form>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.threedubmedia/2.2/event.drag/jquery.event.drag.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="/js/bootstrap.min.js" ></script>
		<script>
		$(document).on('ready', function(){
			$(".ipcheckbox").change(function() {
				if(this.checked) {
					$('#btn-signup').prop('disabled', false);
				}
				else
				{
					$('#btn-signup').prop('disabled', true);	
				}
			});
		});
		</script>
	</body>
</html>
