{% extends "guest_views/base_fixed.twig" %}
{% block head %}
{% endblock %}
{% block aditional_css %}
	<link rel="stylesheet" href="{{static_assets}}/css/basic/faqs.css" />
	<link rel="stylesheet" href="{{static_assets}}/css/basic/contacto.css" />
{% endblock %}
{% block title %}Contacto {% endblock %}
{% block content %}
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&apos;../assets/img/bg9.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Contactate con nosotros</h1>
                    <h4>Uneté al gran grupo de trabajo de Compro en Linea y empieza a distribuir nuestros productos.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="about-description text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                    </div>
                </div>
            </div>
            <div class="about-team team-1">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Deja aquí tu información:</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="description">Nos contactaremos en la brevedad con usted.
                            <br>
                            <br>
                        </p>
                        <form role="form" id="contact-form" method="post">
                            <div class="form-group">
                                <label for="name" class="bmd-label-floating">Nombre</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmails" class="bmd-label-floating">Dirección de correo</label>
                                <input type="email" class="form-control" id="exampleInputEmails">
                                <span class="bmd-help">Prometemos no compartirla con nadie</span>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="bmd-label-floating">Teléfono</label>
                                <input type="text" class="form-control" id="phone">
                            </div>
                            <div class="form-group label-floating">
                                <label class="form-control-label bmd-label-floating" for="message"> Tu mensaje</label>
                                <textarea class="form-control" rows="6" id="message"></textarea>
                            </div>
                            <div class="submit text-center">
                                <input type="submit" class="btn btn-primary btn-raised btn-round" value="Contactanos">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Nuestras oficinas</h4>
                                <p> 12 de Octubre N° 2345 1° B y C 
                                    <br> Quilmes,
                                    <br> Buenos Aires
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Teléfono</h4>
                                <p> <br> 11-5719-1034
                                    <br> 11-6947-1440
                                    <br> 2133-5648
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">business_center</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Redes Sociales</h4>
                                <p> Compro en Linea
                                    <br> facebook.com/ComproEnLineaArg
                                    <br> instagram.com/comproenlinea
                                    <br> comproenli@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-contact">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}
{% block custom_js %}
{% endblock %}