@import url('https://fonts.googleapis.com/css?family=Arimo:700');

.vehicle-card {
	position: relative;
}

.vehicle-card .card-block {
	padding: 8px;
}

.vehicle-card .btn {
	cursor: pointer;
}

.vehicle-media img.img-fluid { width: 100%; }

.vehicle-mi {
	position: relative;
	overflow: hidden;
}

.vehicle-card img.img-fluid {
	max-height: 240px;
}

.vehicle-card .card-footer {
	background-color: #f8f8f8;
}

.vehicle-info {
	margin-top: 8px;
	padding: 8px;
	display: block;
	width: 100%;
	z-index: 1;
	/*margin-bottom: 1em;*/	
	font-size: 110%;
}

.vehicle-view-pub {
	height: 31px;
}

.vehicle-model {
	font-family: 'Arimo';
	font-weight: 700;
	font-size: 22px;
	display: inline-block;
	line-height: 22px;
	position: relative;
}

.vehicle-model-info {
	font-size: 13px;
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
}

.vehicle-info .vehicle-price {
	font-size: 1.15em;
	line-height: 1em;
	font-weight: 600;
	margin-bottom: .2em;
	margin-top: .5em;
}

.vehicle-info .vehicle-data {
	margin-bottom: .25em;
	padding-right: .5em;
	text-overflow: clip;
	height: 18px;
	overflow: hidden;
	font-size: .9em;
	color: #333;
}

.vehicle-card .btn-ver-publicacion {
	border-radius: 0; 
	/*position: absolute;
	right: 1em;
	bottom: 1em;*/
}

@media (max-width: 972px) {

	.vehicle-info .vehicle-data {
		max-width: 100%;
		font-size: 1em;
		height: auto;
		padding-right: .3em;
	}

	.vehicle-card .card-block {
		/*min-height: 206px;*//
	}

}

@media (max-width: 768px) {
	.vehicle-info {
		font-size: 120%;
	}
	.vehicle-card .card-block {
		/*min-height: 196px;*/
	}
}

@media (max-width: 576px) {

	.vehicle-info {
		margin:0px;
		font-size: 125%;
	}
	.vehicle-card .card-block {
		/*min-height: auto;*/
	}

}

.vehicle-info .vehicle-localidad {
	margin-top: 0em;
	color: #666;
	font-size: 14px;
}

.vehicle-info .vehicle-title {
	font-size: 14px;
	white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
	color: #666;	
	transition: 300ms;
}

.vehicle-title:hover {
	white-space: pre-wrap;
}

.vehicle-card .vehicle-buttons {
	float: right;
	display: inline-block;
}

.vehicle-card .carousel-item img {
	height: 250px;
	object-fit: cover;
}

.vehicle-card.simple .carousel-item img{
	height: 400px;
}