body {
	font-family: 'Roboto';
	background-color: #fefefe;
}

.form_consulta_enviada {
	display: none;
	margin-top: 1em;
}

.popover-whatsapp {
	border: none;
	background-color: #5cb85c !important;
	max-width: 220px !important;
}

.popover-whatsapp .popover-content {
	padding: 10px !important;
}
.popover-whatsapp .popover-content .btn {
	margin-top: 10px;
}

.popover-whatsapp .popover-title {	
	background-color: rgba(0,0,0, .05) !important;
	border: none;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 0px;
}

button.nowpp {
	background-color: rgba(255,255,255, .1) !important;
	color: #fff !important;
}

.arrow-wpp::before , .arrow-wpp::after {
	border-left-color: #5cb85c !important;
}

.popover-link {
	border: none;
	background-color: #0275d8 !important;
	max-width: 220px;
}

.popover-link .popover-title {
	border: none;
	color: #fff;
	font-size: 16px;
	margin-bottom: 0px;
	padding: 10px;
}

.popover.popover-link .arrow::before , .popover.popover-link .arrow::after {
	border-left-color:#0275d8 !important;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

/*boton subir*/
.fa-subir{
    font: normal normal normal 30px/1 FontAwesome;
}
.fa-subir:before {
    content: "\f106";
}
#subir {
       	color: #fff !important;
		background: rgba(16, 54, 99,1) !important;
		position: fixed;
		z-index: 10;
		bottom: 50px;
		right: 0px;
		padding: 3px 10px;
		font-size: 12px;
		text-decoration: none !important;
		cursor: pointer;
		border-radius: 3px;
}
#subir:hover {
    background: #337ab7 !important;
}

.btn-outline-success {
    border: 1px solid !important;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    transition: 0.5s;
}