
.footer {
	font-size: 13px;
	z-index: 3;
	bottom: 0;
	width: 100%;
	background-color: #273443;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

footer.footer ul.nav li.nav-item a {
	padding: .3em 1em;
	padding-left: 0px;
	color: rgba(255,255,255,.9);
	transition: 300ms;
}
footer.footer ul.nav li.nav-item a i {
	margin-right: .5em;
}

footer.footer ul.nav li.nav-item a:hover:not(.font-weight-bold):not(.no-link) {
	text-decoration: underline;
}

footer.footer ul.nav li.nav-item a.no-link:hover {
	cursor: pointer;
}

.just-text {
	text-decoration: none !important;
	cursor: text;
}

footer.footer ul.nav li.nav-item a.font-weight-bold {
	color: rgba(255,255,255,0.6);
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 1em;
}


@media (max-width: 564px) {
	.center-sm-down {
		text-align: center !important;
		width: 100%;
	}
	footer.footer ul.nav li.nav-item a.font-weight-bold:first-of-type {
		margin-top: 1em;
	}
	footer.footer ul.nav li.nav-item div.font-weight-bold:first-of-type {
		margin-top: 1em;
	}
}

.littledarker {
	margin-top: 10px;
	padding: 10px 0px;
}
.little {
    background: #3286C6;
    padding: 5px 0px;
    margin-bottom: 30px;
}
.little a {
    color: #fff;
    text-decoration: underline;
}
footer.footer ul.nav li.nav-item div {
	padding: .3em 1em;
	padding-left: 0px;
	color: rgba(255,255,255,.9);
	transition: 300ms;
}
.little .anchor {
    padding: 0px 15px;
    display: inline-block;
}

footer.footer ul.nav li.nav-item div i {
	margin-right: .5em;
}

footer.footer ul.nav li.nav-item div:hover:not(.font-weight-bold):not(.no-link) {
	text-decoration: underline;
}

footer.footer ul.nav li.nav-item div.no-link:hover {
	cursor: pointer;
}
footer.footer ul.nav li.nav-item div.font-weight-bold {
	color: rgba(255,255,255,0.6);
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 1em;
}

/*************************/
ul.nav.flex-column li a {
    background: none !important;
}


/*******************
	.row.row-contadores {
	    border: solid 1px #e4e4e4;
	    margin: 0px 0px 20px 0px;
	    padding: 10px 5px;
	    border-radius: 5px;
	}
	.cont-number {
	    font-size: 60px;
	    line-height: 50px;
	    color: #103663;
	}
	.boxcontador p {
	    font-size: 14px;
	    line-height: 15px;
	    font-weight: bold;
	    color: #0c61a2;
	    font-family: "Poppins", sans-serif;
	}
*************************/
.boxcontador p {
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    color: #888888;
    font-family: "Poppins", sans-serif;
}
.cont-number {
    font-size: 60px;
    line-height: 50px;
    color: #ffffff;
}
/**
.row.row-contadores {
	border: solid 1px #103663;
    margin: 0px 0px 20px 0px;
    padding: 10px 5px;
    border-radius: 5px;
    background: #103663;
}
/*********************/
