nav.main_navbar {
	background-color: #103663 !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	border-radius: 0px !important;
}

nav.main_navbar .collapse {
	padding: .0em 0px;
	font-size: 14px;
}

nav.main_navbar .dropdown-menu {
	font-size: 13px;
	border-radius: 0px;
	margin-top: 0px;
  top: 36px ;
  padding: 0px;
}
nav.main_navbar .dropdown:hover > .dropdown-menu {
	display: block;
}
.main_navbar ul.navbar-nav li a, .main_navbar ul.navbar-nav a  {
	color: white;
  transition: 0.15s all;
}
.main_navbar ul.navbar-nav > li > a:hover, .main_navbar ul.navbar-nav > a:hover {
	background-color: #3286C6;
	transition-delay: 0s;
}

.navbar-hover{
	background-color: #3286C6;
}

/* dropdown */
.main_navbar ul.navbar-nav li div.dropdown-menu  { 
	color: white;
  background-color: #103663;
  position: absolute;
}
.main_navbar ul.navbar-nav li div.dropdown-menu > a  { 
  color: white;
  padding: 8px;
}
.main_navbar ul.navbar-nav li div.dropdown-menu > a:hover, .main_navbar ul.navbar-nav li div.dropdown-menu > a:focus  { 
  background-color: #3286C6 ;
}
      
.main_navbar .navbar-brand {
  	color:#103663;
}
.main_navbar .navbar-toggle {
  	background-color:#103663 ;
}
.main_navbar .icon-bar {
  	background-color:#103663 ;
}
/*
.main_navbar ul.navbar-nav li a.dropdown-item {
	color: white; 
	background-color: #3286C6;
}
*/
/* fin dropdown */
.mb-navbar {
	padding: .5em;
}

.btn-mbnavbar {
  background-color: transparent;
  border-radius: 0px;
  color: #fff;
  position: absolute;
  padding: .3rem .75rem;
}

/****************/
.main_navbar {
    margin-bottom: 0px !important;
}

@media (min-width: 768px){
.d-lg-none {
    display: none!important;
}
ul.navbar-nav.userbar {
    float: right;
}
}
@media (max-width: 767px){

ul.navbar-nav.userbar {
    flex-direction: column;
}
ul.navbar-nav.userbar {
    float: inherit !important;
}
}
.navbar {
	border: none !important;
}
.navbar-nav {
    flex-direction: inherit;
}
a.nav-link {
    padding: 8px 12px !important;
}
nav.navbar.sticky-top.p-0.main_navbar {
    min-height: auto !important;
}


/*********Megamenu*******************/
/*.mega-menu li:hover {
    background: #3286C6;
    transition: 0.5s;
}*/

/*i.fa.fa-play {
    position: absolute;
    transform: rotate(-90deg);
    color: #3286C6;
    bottom: -2px;
}*/
.mega-menu li {
    list-style: none !important;
    display: inline-block;
    line-height: 24px;
}

.mega-menu li:nth-child(1) a.mega-item {
    border-left: 1px solid #b1b1b1;
}

.mega-menu li a.mega-item {
        padding: 5px 10px;
    font-size: 24px;
    color: #4c4c4c;
   /* font-family: BEMIO !important;*/
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #b1b1b1;
}


.mega-menu li a.mega-item:hover {
    color: #3286C6;
}
.mega-menu {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    background: #c7e1ff;
}
.mega-menu ul {
    margin-bottom: 0px;
}
/*.mega-menu li:hover .fa-chevron-up {
    transition: 0.5s;
    color: #fff;
}
.mega-menu .fa-chevron-up {
    color: transparent;
    font-size: 20px;
}*/