
.vehicle-card {
	position: relative;
	margin-bottom: 1em;
	/*border-radius: .5em;*/
	border-top-style: none;
}

.vehicle-card .carousel-inner {
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
}

.column {
	float: left;
}

.column .card {
	margin-bottom: 1em;
}

#grid, .vehicle-features { width: 100%; }

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
	.column:first-child {
		padding-right: 0;
	}
	.column:last-child {
		padding-left: 0;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
	.column:first-child {
		padding-right: .5em;
	}
	.column:last-child {
		padding-left: .5em;
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
	.column:first-child {
		padding-right: 1em;
	}
	.column:last-child {
		padding-left: 1em;
	}
}

.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }