<footer class="footer footer-black footer-big">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <h5>¡Compro en linea!</h5>
                        <p>Compro en Linea is a startup that creates design tools that make the web development process faster and easier. </p>
                        <p>We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world. </p>
                    </div>
                    <div class="col-md-4">
                        <h5>Redes Sociales</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>How to handle ethical disagreements with your clients.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>The tangible benefits of designing at 1x pixel density.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-facebook-square"></i>
                                <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>¡Mejores productos!</h5>
                        <div class="gallery-feed">
                            <img src="../assets/img/faces/card-profile6-square.jpg" class="img img-raised rounded" alt="">
                            <img src="../assets/img/faces/christian.jpg" class="img img-raised rounded" alt="">
                            <img src="../assets/img/faces/card-profile4-square.jpg" class="img img-raised rounded" alt="">
                            <img src="../assets/img/faces/card-profile1-square.jpg" class="img img-raised rounded" alt="">
                            <img src="../assets/img/faces/marc.jpg" class="img img-raised rounded" alt="">
                            <img src="../assets/img/faces/kendall.jpg" class="img img-raised rounded" alt="">
                            <img src="../assets/img/faces/card-profile5-square.jpg" class="img img-raised rounded" alt="">
                            <img src="../assets/img/faces/card-profile2-square.jpg" class="img img-raised rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="float-left">
                <li>
                    <a href="#pablo">
                        CATEGORIAS
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        NOSOTROS
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        MÉTODOS DE PAGO
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        CONTACTO
                    </a>
                </li>
            </ul>
            <div class="copyright float-right">
                &#xA9;2018 | Compro en Linea - Todos los derechos reservados
            </div>
        </div>
    </footer>