<nav class="nav flex-column navbar-filtros">

	<div class="category">
		<div class="navbar-filtros-header">Marca</div>

		{% for marca in marcas %}
			{% if marca.tienevehiculos() != false %}
			<div class="nav-link">
				<a href="{{path_for('vehicle.filter', {'params':'marca/'~sinacentos(marca.nombre)|trim|replace({' ':'-'})|e|lower})}}">{{marca.nombre}} ({{marca.tienevehiculos()}})</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="category">
		<div class="navbar-filtros-header">Año</div>
		{% for year, cantidad in years %}
			<div class="nav-link">
				<a href="{{path_for('vehicle.filter', {'params':'year/'~sinacentos(year)|trim|replace({' ':'-'})|e|lower})}}">{{year}} ({{cantidad}})</a>
			</div>
		{% endfor %}
	</div>
	<div class="category">
		<div class="navbar-filtros-header">Ubicación</div>
		{% for localidad in localidades %}
			{% if localidad.tienevehiculos() != false %}
			<div class="nav-link">
				<a href="{{path_for('vehicle.filter', {'params':'ubicacion/'~sinacentos(localidad.nombre)|trim|replace({' ':'-'})|e|lower})}}">{{localidad.nombre}} ({{localidad.tienevehiculos()}})</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="category">
		<div class="navbar-filtros-header">Motor</div>
		{% for motor in motores %}
			{% if motor.tienevehiculos() != false %}
			<div class="nav-link">
				<a href="{{path_for('vehicle.filter', {'params':'motor/'~sinacentos(motor.nombre)|trim|replace({' ':'-'})|e|lower})}}">{{motor.nombre}} ({{motor.tienevehiculos()}})</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="category">
		<div class="navbar-filtros-header">Transmisión</div>
		{% for transmision in transmisiones %}
			{% if transmision.tienevehiculos() != false %}
			<div class="nav-link">
				<a href="{{path_for('vehicle.filter', {'params':'transmision/'~sinacentos(transmision.nombre)|trim|replace({' ':'-'})|e|lower})}}">{{transmision.nombre}} ({{transmision.tienevehiculos()}})</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="category d-none">
		<div class="navbar-filtros-header">Precio</div>
		<div class="nav-link">
			<div class="row">
				<div class="col-md-6">
					<input type="text" class="form-control form-control-sm filter-input" data-modify="price" name="minprice" placeholder="Mínimo">
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control form-control-sm filter-input" data-modify="price" name="maxprice" placeholder="Máximo">
				</div>
			</div>
		</div>
	</div>
</nav>