<nav class="nav flex-column navbar-filtros">
	<div class="category">
		<div class="navbar-filtros-header">Marca</div>
		{% if filtros.marca is not defined %}
			{% for marca in marcas %}
				{% if marca.tienevehiculos() != false and marca.tienevehiculosfiltrados(search_keys) != false %}
				<div class="nav-link">
					<a href="{{customurlfiltro(current_path, 'marca', marca.nombre)}}">{{marca.nombre}} ({{marca.tienevehiculosfiltrados(search_keys)}})</a>
				</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<span class="badge badge-primary">{{filtros.marca.show}} <a href="{{customurlfiltroborrar(current_path, '/marca/')}}"><i class="fa fa-close text-white"></i></a></span>
		{% endif %}
	</div>
	{% if filtros.marca is defined %}
		<div class="category">
			<div class="navbar-filtros-header">Modelo</div>
			{% if filtros.modelo is not defined %}
				{% for modelo, cantidad in modelos %}
					<div class="nav-link">
						<a href="{{customurlfiltro(current_path, 'modelo', modelo)}}">{{modelo}} ({{cantidad}})</a>
					</div>
				{% endfor %}
			{% else %}
				<span class="badge badge-primary">{{filtros.modelo.show}} <a href="{{customurlfiltroborrar(current_path, '/modelo/')}}"><i class="fa fa-close text-white"></i></a></span>
			{% endif %}
		</div>
	{% endif %}
	<div class="category">
		<div class="navbar-filtros-header">Año</div>
		{% if filtros.year is not defined %}
			{% for year, cantidad in years %}
				<div class="nav-link">
					<a href="{{customurlfiltro(current_path, 'year', year)}}">{{year}} ({{cantidad}})</a>
				</div>
			{% endfor %}
		{% else %}
			<span class="badge badge-primary">{{filtros.year.show}} <a href="{{customurlfiltroborrar(current_path, '/year/')}}"><i class="fa fa-close text-white"></i></a></span>
		{% endif %}
	</div>
	<div class="category">
		<div class="navbar-filtros-header">Ubicación</div>
		{% if filtros.ubicacion is not defined %}
			{% for localidad in localidades %}
				{% if localidad.tienevehiculos() != false and localidad.tienevehiculosfiltrados(search_keys) != false %}
				<div class="nav-link">
					<a href="{{customurlfiltro(current_path, 'ubicacion', localidad.nombre)}}">{{localidad.nombre}} ({{localidad.tienevehiculosfiltrados(search_keys)}})</a>
				</div>
				{% endif %}
			{% endfor %}
		{% else %}									
			<span class="badge badge-primary">{{filtros.ubicacion.show}} <a href="{{customurlfiltroborrar(current_path, '/ubicacion/')}}"><i class="fa fa-close text-white"></i></a></span>
		{% endif %}
	</div>
	<div class="category">
		<div class="navbar-filtros-header">Motor</div>
		{% if filtros.motor is not defined %}
			{% for motor in motores %}
				{% if motor.tienevehiculos() != false and motor.tienevehiculosfiltrados(search_keys) != false %}
				<div class="nav-link">
					<a href="{{customurlfiltro(current_path, 'motor', motor.nombre)}}">{{motor.nombre}} ({{motor.tienevehiculosfiltrados(search_keys)}})</a>
				</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<span class="badge badge-primary">{{filtros.motor.show}} <a href="{{customurlfiltroborrar(current_path, '/motor/')}}"><i class="fa fa-close text-white"></i></a></span>
		{% endif %}
	</div>
	<div class="category">
		<div class="navbar-filtros-header">Transmisión</div>
		{% if filtros.transmision is not defined %}
			{% for transmision in transmisiones %}
				{% if transmision.tienevehiculos() != false and transmision.tienevehiculosfiltrados(search_keys) != false %}
				<div class="nav-link">
					<a href="{{customurlfiltro(current_path, 'transmision', transmision.nombre)}}">{{transmision.nombre}} ({{transmision.tienevehiculosfiltrados(search_keys)}})</a>
				</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<span class="badge badge-primary">{{filtros.transmision.show}} <a href="{{customurlfiltroborrar(current_path, '/transmision/')}}"><i class="fa fa-close text-white"></i></a></span>
		{% endif %}
	</div>
</nav>