{% extends "admin_views/base.twig" %}

{% block aditional_css %}
	<link rel="stylesheet" href="{{ base_url() }}/css/vehiculos.css">
{% endblock %}

{% block title %}Edición de categoría{% endblock %}
{% block header_title %}Edición de categoría{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('categorias.index')}}">Edición de categoría</a></li>
{% endblock %}


{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="vendedor_view">	
		<div class="col-xs-12">
			<div class="col-md-6">
				<form action="{{path_for('categorias.editar.post', {'id' : categoria.id })}}" method="POST">
					<div class="box box-success">
						<div class="box-header with-border">
							<h3 class="box-title text-bold">Agregar una categoria</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="box box-info">
										<div class="box-header with-border">
											<h3 class="box-title text-bold">1- Datos básicos de la categoría:</h3><br>
											Si desea crear una nueva categoría, proporcione los datos en el siguiente formulario:
										</div>
										<div class="box-body">
											<div class="form-group {{ errors.nombre_categoria ? ' has-error' : '' }}">
												<label for="nombre_categoria">Nombre de la categoría:</label>
												<input type="text" id="nombre_categoria" name="nombre_categoria" class="form-control" placeholder="Nombre de la categoría" value="{{ categoria.nombre }}">
												{% if errors.nombre_categoria %}
													<span class="help-block">{{ errors.nombre_categoria | first }}</span>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<button class="btn btn-default btn-block btn-flat" type="reset">Limpiar campos</button>
								</div>
								<div class="col-md-6">
									<button class="btn btn-primary btn-block btn-flat" type="submit">Crear publicación</button>
								</div>
							</div>
						</div>
					</div>
					{{ csrf.field | raw}}
				</form>
			</div>
			<div class="col-md-6">
				<form id="uploadimage" action="" method="post" enctype="multipart/form-data">
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Cambiar imagen de portada</h4>
				      </div>
				      <div class="modal-body">
				      	<img id="previewing" style="width: 200px;" {% if categoria.imagen == NULL %} src="{{base_url}}/categorias/default.jpg" {% else %} src="{{base_url}}/categorias/{{ categoria.imagen }}" {% endif %} alt="User profile picture">
			        	<br>
				      	<div class="ocultar">
							<input type="file" class="btn btn-default btn-block" name="file" id="file"/>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				        <input id="boton_subir" type="submit" class="btn btn-primary" value="Cambiar" class="submit" />
				      </div>
				    </div>
				    {{ csrf.field | raw}}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}



{% block custom_js %}
<script type="text/javascript">
	$(document).ready(function (e) {

		$("#uploadimage").on('submit',(function(e) {
		e.preventDefault();

		var data = new FormData(this);
		data.append('nombre-usuario', '{{ categoria.id }}');

		$.ajax({
			url: "imagen-categoria.php", // Url to which the request is send
			type: "POST",             // Type of request to be send, called as method
			data: data, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
			contentType: false,       // The content type used when sending data to the server.
			cache: false,             // To unable request pages to be cached
			processData:false,        // To send DOMDocument or non processed data file it is set to false
			success: function(response)   // A function to be called if request succeeds
			{
				var jsonObject = JSON.parse(response);
				console.log(jsonObject.dir);
				if(jsonObject.dir != 0)
				{
					cambiarfotoportada({{ categoria.id }}, jsonObject.dir);
					$('#boton_subir').hide();
					$('.ocultar').html('<div style="text-align:center;" class="alert alert-info">¡La foto de portada fue actualizada correctamente!</div>');
					$('#foto_perfil').attr('src','{{ base_url() }}/portadas/'+jsonObject.dir);
				}
			}
		});
	}));

		// Function to preview image after validation
		$(function() 
		{
			$("#file").change(function() 
			{
				$("#message").empty(); // To remove the previous error message
				var file = this.files[0];
				var imagefile = file.type;
				var match= ["image/jpeg","image/png","image/jpg"];
				if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
				{
					$('#previewing').attr('src','noimage.png');
					return false;
				}
				else
				{
					var reader = new FileReader();
					reader.onload = imageIsLoaded;
					reader.readAsDataURL(this.files[0]);
				}
			});
		});
		function imageIsLoaded(e) 
		{
			$("#file").css("color","green");
			$('#previewing').attr('src', e.target.result);
		};
	});

	function cambiarfotoportada(id, foto) {
		$.ajax({
			url:"{{ base_url() }}/administracion/categorias/cambiarfoto/"+id+"/"+foto,
			method: 'GET',
			cache: false,
		});
		console.log("Se cambio la siguiente foto: {{ base_url() }}/administracion/categorias/cambiarfoto/"+id+"/"+foto);
		return 1;
	}
	</script>
{% endblock %}