{% extends "admin_views/base.twig" %}

{% block aditional_css %}
	<link rel="stylesheet" href="{{ base_url() }}/css/vehiculos.css">
{% endblock %}

{% block title %}Creación de categoría{% endblock %}
{% block header_title %}Creación de categoría{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('categorias.index')}}">Creación de categoría</a></li>
{% endblock %}


{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="vendedor_view">	
		<div class="col-xs-12">
			<form action="{{path_for('categorias.crear.post')}}" method="POST">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title text-bold">Agregar una categoria</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<div class="box box-info">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">1- Datos básicos de la categoría:</h3><br>
										Si desea crear una nueva categoría, proporcione los datos en el siguiente formulario:
									</div>
									<div class="box-body">
										<div class="form-group {{ errors.nombre_categoria ? ' has-error' : '' }}">
											<label for="nombre_categoria">Nombre de la categoría:</label>
											<input type="text" id="nombre_categoria" name="nombre_categoria" class="form-control" placeholder="Nombre de la categoría" value="{{ old.nombre_categoria }}">
											{% if errors.nombre_categoria %}
												<span class="help-block">{{ errors.nombre_categoria | first }}</span>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							{#<div class="col-md-6">
								<div class="box box-danger">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">2- Foto de Galería</h3><br>
										Elija la foto con la cual se representará su categoría:
									</div>
									<div class="box-body">
										<form name="veh_upload_images_form">
											<div class="box-body">
												<input type="file" multiple class="veh_upload_main" name="veh_upload_main[]" hidden="hidden" accept="image/*"/>
												<div class="body-images clear">
												</div>
												<i class="help-block clear">Aquí se listarán las fotos que vayas adjuntando.</i>
											</div>
											<div class="box-footer">
												<div class="input-group veh_upload_files_box">
													<div class="input-group-btn">
														<button type="button" class="btn btn-app veh_upload_search_file"><i class="fa fa-file"></i>Examinar</button>
													</div>
													<input type="text" class="form-control veh_upload_file_txt" style="height: 60px; line-height: 60px;" value="" readonly="">
													<div class="input-group-btn">
														<button type="button" class="btn btn-app veh_upload_upload_all" disabled=""><i class="fa fa-upload"></i>Subir</button>
													</div>
												</div>
												<div class="help-block veh_upload_upload_info">Esperando acción.</div>
											</div>
											{{ csrf.field | raw }}
										</form>
									</div>
								</div>
							</div>#}
						</div>
						<div class="row">
							<div class="col-md-6">
								<button class="btn btn-default btn-block btn-flat" type="reset">Limpiar campos</button>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-block btn-flat" type="submit">Crear categoría</button>
							</div>
						</div>
					</div>
				</div>
				{{ csrf.field | raw}}
			</form>
		</div>
	</div>
</div>
{% endblock %}