{% extends "admin_views/base.twig" %}

{% block aditional_css %}
	<link rel="stylesheet" href="{{ base_url() }}/css/vehiculos.css">
{% endblock %}

{% block title %}Edición de productos{% endblock %}
{% block header_title %}Edición de productos{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('stock.index')}}">Edición de productos</a></li>
{% endblock %}


{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="vendedor_view">	
		<div class="col-xs-12">
			<form action="{{path_for('stock.editar.post', {'id' : producto.id })}}" method="POST">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title text-bold">Editar un producto</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<div class="box box-info">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">1- Datos básicos del producto:</h3><br>
										Si desea editar un nuevo producto, proporcione los datos en el siguiente formulario:
									</div>
									<div class="box-body">
										<div class="form-group {{ errors.car_nombre ? ' has-error' : '' }}">
											<label for="car_nombre">Nombre del producto:</label>
											<input type="text" id="car_nombre" name="car_nombre" class="form-control" placeholder="Nombre del producto" value="{{ producto.nombre }}">
											{% if errors.car_nombre %}
												<span class="help-block">{{ errors.car_nombre | first }}</span>
											{% endif %}
										</div>

										<div class="input-group {{ errors.car_apellido ? ' has-error' : '' }}">
							                <span class="input-group-addon">$</span>
							                <input type="number" id="car_apellido" name="car_apellido" class="form-control" placeholder="Precio por unidad" value="{{ producto.precio }}">
							                <span class="input-group-addon">.00</span>
							                {% if errors.car_apellido %}
												<span class="help-block">{{ errors.car_apellido | first }}</span>
											{% endif %}
              							</div>					
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="box box-warning">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">2- Categoría del producto</h3><br>
										Seleccione la categoria a la cual corresponda el producto nuevo y su respectivo género
									</div>
									<div class="box-body">
										<label for="sel1">Selecione la categoria:</label>
										<select class="form-control" name="empleado-crear-sucursal" id="sel1">
											{% for categoria in categorias %}
										    <option value="{{categoria.id}}" {% if categoria.id == producto.categoria %}selected=""{% endif %}>{{categoria.nombre}}</option>
											{% endfor %}
										</select>
										<br>
										<label for="sel2">Selecione el genero:</label>
										<select class="form-control" name="empleado-crear-puesto" id="sel2">
										    <option value="1" {% if 1 == producto.genero %}selected=""{% endif %}>Hombre</option>
										    <option value="2" {% if 2 == producto.genero %}selected=""{% endif %}>Mujer</option>
										    <option value="3" {% if 3 == producto.genero %}selected=""{% endif %}>Ambos</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box box-success">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">3- Publicación del producto</h3><br>
										Seleccione si el producto estará publicado en la pagina web y su descripción (podrá activarlo y desactivar la publicación cuando desee)
									</div>
									<div class="box-body">
										<div class="row">
											
											<div class="col-md-6">
												<div class="form-group">
													<label for="pub_estado">Selecione el estado (estará publicado en la página web o no):</label>
													<select class="form-control" name="pub_estado" id="pub_estado">
													    <option value="1" selected="">NO PUBLICADO</option>
													    <option value="2">PUBLICADO</option>
													</select>
												</div>
												<div class="form-group">
													<label for="pub_disponibilidad">Disponibilidad del producto (disponibilidad en vista de producto):</label>
													<select class="form-control" name="pub_disponibilidad" id="pub_disponibilidad">
													    <option value="1" selected="">DISPONIBLE</option>
													    <option value="0">NO DISPONIBLE</option>
													    <option value="2">A PEDIDO</option>
													    <option value="3">SIN STOCK</option>
													</select>
												</div>
												<div class="form-group {{ errors.pub_material ? ' has-error' : '' }}">
													<label for="pub_material">Material del producto:</label>
													<input type="text" id="pub_material" name="pub_material" class="form-control" placeholder="Material del producto (ej: Algodón - Paño - Sintético)" value="{{ producto.material }}">
													{% if errors.pub_material %}
														<span class="help-block">{{ errors.pub_material | first }}</span>
													{% endif %}
												</div>
												<div class="form-group">
								                  <label>Talles disponibles: <small>(*) seleccione varios apretando la tecla CONTROL</small></label>
								                  <select name="pub_talles[]" id="pub_talles" multiple="" class="form-control">
								                    <option value="1">XS</option>
								                    <option value="2">S</option>
								                    <option value="3">M</option>
								                    <option value="4">L</option>
								                    <option value="5">XL</option>
								                  </select>
								                </div>
								                <div class="form-group">
													<label for="pub_colores">Colores del producto: <small>(*) seleccione varios apretando la tecla CONTROL</small></label>
													<select name="pub_colores[]" id="pub_colores" multiple="" class="form-control">
								                    <option value="1">Negro</option>
								                    <option value="2">Rojo</option>
								                    <option value="3">Azul</option>
								                    <option value="4">Amarillo</option>
								                    <option value="5">Verde</option>
								                  </select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group {{ errors.pub_contenido ? ' has-error' : '' }}">
													<label for="pub_contenido">Escriba una breve descripción de su producto:</label>
													<textarea class="form-control"  name="pub_contenido" id="pub_contenido" placeholder="Contenido" autocomplete="off" required data-toggle="tooltip" data-placement="auto"></textarea>
													{% if errors.pub_contenido %}
														<span class="help-block">{{ errors.pub_contenido | first }}</span>
													{% endif %}
												</div>
												<div class="form-group">
													<label for="pub_keywords">Keywords del producto: <small>(*) no obligatorio, separar keywords por comas.</small></label>
													<input type="text" id="pub_keywords" name="pub_keywords" class="form-control" placeholder="Ejemplo: Pantalon, Ropa, Lindo, Vestir, Deporte, Futbol">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{#<div class="col-md-6">
								<div class="box box-danger">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">4- Fotos del producto</h3><br>
										Eliga las fotos con las cuales se mostraran en la publicación de su producto:
									</div>
									<div class="box-body">
										<form name="veh_upload_images_form">
											<div class="box-body">
												<input type="file" multiple class="veh_upload_main" name="veh_upload_main[]" hidden="hidden" accept="image/*"/>
												<div class="body-images clear">
												</div>
												<i class="help-block clear">Aquí se listarán las fotos que vayas adjuntando.</i>
											</div>
											<div class="box-footer">
												<div class="input-group veh_upload_files_box">
													<div class="input-group-btn">
														<button type="button" class="btn btn-app veh_upload_search_file"><i class="fa fa-file"></i>Examinar</button>
													</div>
													<input type="text" class="form-control veh_upload_file_txt" style="height: 60px; line-height: 60px;" value="" readonly="">
													<div class="input-group-btn">
														<button type="button" class="btn btn-app veh_upload_upload_all" disabled=""><i class="fa fa-upload"></i>Subir</button>
													</div>
												</div>
												<div class="help-block veh_upload_upload_info">Esperando acción.</div>
											</div>
											{{ csrf.field | raw }}
										</form>
									</div>
								</div>
							</div>#}
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box box-danger">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">4- Datos publicitarios:</h3><br>
									</div>
									<div class="box-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="pub_etiqueta_id">Etiqueta del producto:</label>
													<select class="form-control" name="pub_etiqueta_id" id="pub_etiqueta_id">
													    <option value="0" selected="">SIN ETIQUETA</option>
													    <option value="1">NUEVO</option>
													    <option value="2">DESCUENTO</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="pub_etiqueta_descuento">Porcentaje: <small>(*) solo funcionará si esta habilitada la etiqueta descuento.</small></label>
													<input type="text" id="pub_etiqueta_descuento" name="pub_etiqueta_descuento" class="form-control" placeholder="Porcentaje Descuento Ej: -50%" value="0">
												</div>
											</div>
										</div>			
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box box-danger">
									<div class="box-header with-border">
										<h3 class="box-title text-bold">5- Carga de fotos:</h3><br>
										Puedes realizar la carga de fotos una vez que subas la publicación y quede validada.
									</div>
									<div class="box-body">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<button class="btn btn-default btn-block btn-flat" type="reset">Limpiar campos</button>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-block btn-flat" type="submit">Editar publicación</button>
							</div>
						</div>
					</div>
				</div>
				{{ csrf.field | raw}}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script>
		function dec2hex (dec) {
			return ('0' + dec.toString(16)).substr(-2)
		}

		// generateId :: Integer -> String
		function generateId (len) {
			var arr = new Uint8Array((len || 40) / 2)
			window.crypto.getRandomValues(arr)
			return Array.from(arr, dec2hex).join('')
		}

		function getBase64(file) {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				console.log(reader.result);
			};
			reader.onerror = function (error) {
				console.log('Error: ', error);
			};
		}

		$(document).on('ready', function(){
			$('form[name=veh_upload_basic_form]').on('submit', function(e){
				e.preventDefault();				
				$(this).parent().find('.overlay').removeClass('hidden');
				$('.vehicle-upload').data('step', 2);
				$('form[name=veh_upload_aditional_form]').parent().find('.overlay').addClass('hidden');
			});
		});


		$(document).on('ready', function(){
			sessionStorage.setItem('selecting', 'false');
			sessionStorage.setItem('current_id', null);
			var lista_archivos = new Object();

			$(function () {
				$('[data-toggle="tooltip"]').tooltip({
					html: true,
					trigger: 'focus',
					container: 'body'
				});
			});

			$('#veh_upload_marca').focus();			
			$('.veh_upload_search_file').on('click', function(){
				$('.veh_upload_upload_info').html('Seleccioná los archivos...');
				sessionStorage.setItem('selecting', 'true');	
				$('.veh_upload_main').click();
			});

			function AddToFileList(file) {
				var uid = generateId();
				$('.veh_upload_file_txt').val(file.name);
				$('.body-images').append('<div class="veh_upload_preview_box" id="pbox_' + uid + '" data-uploaded="0"><a href="#" class="pbox_remove" data-remove="' + uid + '"><i class="fa fa-close"></i></a><div class="pimg_box"><img id="pimg_' + uid + '"></div><span class="filename">' + file.name + '</span><span class="filesize">' + parseInt((file.size/1024)) + 'kb</span></div>');
				var fake_url = window.URL.createObjectURL(file)
				document.getElementById('pimg_' + uid).src = fake_url;
				lista_archivos[uid] = file;
				$('.veh_upload_upload_all').prop('disabled', false);
				$('.body-images').append('<input type="hidden" id="fake_'+uid+'" name="veh_upload_file_fake[]" hidden="hidden" value="'+fake_url+'">');
				
				$('.veh_upload_upload_info').html('Archivo agregado.');
			}

			function IsFileAlreadyOnList(file) {
				var found = false;
				Object.keys(lista_archivos).forEach(function(key) {					
					if(lista_archivos[key].name == file.name && lista_archivos[key].lastModified == file.lastModified) {
						found = true;
					}			
				});
				return found;
			}
			$(window).on('focus', function(){
				if(sessionStorage.getItem('selecting') == 'true'){
					//var updiv = $('#'+sessionStorage.getItem('current_id'));
					var updiv = $('.veh_upload_main');
					setTimeout(function(){
						if(updiv[0].files.length == 1) {
							if(!IsFileAlreadyOnList(updiv[0].files[0])) {
								AddToFileList(updiv[0].files[0]);
							}
							else
							{
								$('.veh_upload_upload_info').html('Ese archivo ya se encuentra en la lista.');
							}
						}
						else if(updiv[0].files.length > 1)
						{
							var files = updiv[0].files;
							_.each(files, function(file, key) {
								if(!IsFileAlreadyOnList(file)) {
									AddToFileList(file);
								}
							});
						}
						else {
							$('.veh_upload_upload_info').html('Esperando acción.');
						}
					}, 500);
					sessionStorage.setItem('selecting', 'false');
				}
			});

			$(document).on('click', '.pbox_remove', function(e){
				e.preventDefault();
				var esto = $(this);
				var uid = $(this).data('remove');
				lista_archivos = _.omit(lista_archivos, uid);
				$('#pbox_'+uid).animate({marginTop: -200}, 300, function(){
					esto.parent().remove();
					$('#fake_'+uid).remove();
					$('#'+uid).remove();
					$('.veh_upload_upload_info').html('Archivo quitado.');					
				});
				if(_.isEmpty(lista_archivos)){
					$('.veh_upload_upload_all').prop('disabled', true);
				}
			});

			$(document).on('click', '.veh_upload_upload_all', function(){
				
				$('.veh_upload_upload_all').prop('disabled', true);
				$('.veh_upload_search_file').prop('disabled', true);
				var data = new FormData();
				Object.keys(lista_archivos).forEach(function(key) {					
					data.append(key, lista_archivos[key]);	
				});
				var csrfName = document.getElementById('csrf_name').value;
				var csrfValue = document.getElementById('csrf_value').value;
				data.append('csrf_value', csrfValue);
				data.append('csrf_name', csrfName);
				var newurl = "{{path_for('photoupload', { 'id': 1 })}}";
				$.ajax({
					method: 'POST',
					url: newurl,
					data: data,
					cache: false,
					contentType: false,
					processData: false,
					success: function(response){
						window.location.reload(true);
					},
					error: function(data){
						$('.veh_upload_upload_info').css('color', 'red');
						$('.veh_upload_upload_info').html('Ha ocurrido un error.');	
						console.log("error");
					}
				});
			});

		});
	</script>

	<script src="https://cdn.ckeditor.com/4.7.3/standard-all/ckeditor.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		CKEDITOR.replace( 'pub_contenido', {
			height: 200,
			toolbarGroups: [
				{"name":"basicstyles","groups":["basicstyles"]},
				{"name":"links","groups":["links"]},
				{"name":"paragraph","groups":["list","blocks", "align"]},
				{"name":"document","groups":["mode"]},
				{"name":"insert","groups":["insert"]},
				{"name":"styles","groups":["styles"]},
				{"name":"about","groups":["about"]}
			],
			// Remove the redundant buttons from toolbar groups defined above.
			removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
		});
	});
	</script>
{% endblock %}