{% extends "admin_views/base.twig" %}

{% block aditional_css %}
	<link rel="stylesheet" href="{{ base_url() }}/css/vehiculos.css">
{% endblock %}

{% block title %}Listado de productos{% endblock %}
{% block header_title %}Listado de productos{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('stock.index')}}">Listado de productos</a></li>
{% endblock %}


{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="col-md-12">
		<div class="box box-danger">
			<div class="box-header with-border">
				<h3 class="box-title text-bold">Fotos del producto</h3><br>
				Eliga las fotos con las cuales se mostraran en la publicación de su producto:
			</div>
			<div class="box-body">
				<form name="veh_upload_images_form">
					<div class="box-body">
						<input type="file" multiple class="veh_upload_main" name="veh_upload_main[]" hidden="hidden" accept="image/*"/>
						<div class="body-images clear">
						</div>
						<i class="help-block clear">Aquí se listarán las fotos que vayas adjuntando.</i>
						<div class="row">
						{% for imagen in producto.imagenes %}
							<div class="col-md-4">
								<a href="{{ path_for('borrar.foto',  {'producto': producto_id, 'id': imagen.id } ) }}" class="btn btn-xs btn-flat pull-right"><i class="fa fa-fw fa-trash"></i></a>
								<img class="img-fluid" src="{{ imagen.enlace }}" width="100%" height="260">
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="box-footer">
						<div class="input-group veh_upload_files_box">
							<div class="input-group-btn">
								<button type="button" class="btn btn-app veh_upload_search_file"><i class="fa fa-file"></i>Examinar</button>
							</div>
							<input type="text" class="form-control veh_upload_file_txt" style="height: 60px; line-height: 60px;" value="" readonly="">
							<div class="input-group-btn">
								<button type="button" class="btn btn-app veh_upload_upload_all" disabled=""><i class="fa fa-upload"></i>Subir</button>
							</div>
						</div>
						<div class="help-block veh_upload_upload_info">Esperando acción.</div>
					</div>
					{{ csrf.field | raw }}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script>
		function dec2hex (dec) {
			return ('0' + dec.toString(16)).substr(-2)
		}

		// generateId :: Integer -> String
		function generateId (len) {
			var arr = new Uint8Array((len || 40) / 2)
			window.crypto.getRandomValues(arr)
			return Array.from(arr, dec2hex).join('')
		}

		function getBase64(file) {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				console.log(reader.result);
			};
			reader.onerror = function (error) {
				console.log('Error: ', error);
			};
		}

		$(document).on('ready', function(){
			$('form[name=veh_upload_basic_form]').on('submit', function(e){
				e.preventDefault();				
				$(this).parent().find('.overlay').removeClass('hidden');
				$('.vehicle-upload').data('step', 2);
				$('form[name=veh_upload_aditional_form]').parent().find('.overlay').addClass('hidden');
			});
		});


		$(document).on('ready', function(){
			sessionStorage.setItem('selecting', 'false');
			sessionStorage.setItem('current_id', null);
			var lista_archivos = new Object();

			$(function () {
				$('[data-toggle="tooltip"]').tooltip({
					html: true,
					trigger: 'focus',
					container: 'body'
				});
			});

			$('#veh_upload_marca').focus();			
			$('.veh_upload_search_file').on('click', function(){
				$('.veh_upload_upload_info').html('Seleccioná los archivos...');
				sessionStorage.setItem('selecting', 'true');	
				$('.veh_upload_main').click();
			});

			function AddToFileList(file) {
				var uid = generateId();
				$('.veh_upload_file_txt').val(file.name);
				$('.body-images').append('<div class="veh_upload_preview_box" id="pbox_' + uid + '" data-uploaded="0"><a href="#" class="pbox_remove" data-remove="' + uid + '"><i class="fa fa-close"></i></a><div class="pimg_box"><img st id="pimg_' + uid + '"></div><span class="filename">' + file.name + '</span><span class="filesize">' + parseInt((file.size/1024)) + 'kb</span></div>');
				var fake_url = window.URL.createObjectURL(file)
				document.getElementById('pimg_' + uid).src = fake_url;
				lista_archivos[uid] = file;
				$('.veh_upload_upload_all').prop('disabled', false);
				$('.body-images').append('<input type="hidden" id="fake_'+uid+'" name="veh_upload_file_fake[]" hidden="hidden" value="'+fake_url+'">');
				
				$('.veh_upload_upload_info').html('Archivo agregado.');
			}

			function IsFileAlreadyOnList(file) {
				var found = false;
				Object.keys(lista_archivos).forEach(function(key) {					
					if(lista_archivos[key].name == file.name && lista_archivos[key].lastModified == file.lastModified) {
						found = true;
					}			
				});
				return found;
			}
			$(window).on('focus', function(){
				if(sessionStorage.getItem('selecting') == 'true'){
					//var updiv = $('#'+sessionStorage.getItem('current_id'));
					var updiv = $('.veh_upload_main');
					setTimeout(function(){
						if(updiv[0].files.length == 1) {
							if(!IsFileAlreadyOnList(updiv[0].files[0])) {
								AddToFileList(updiv[0].files[0]);
							}
							else
							{
								$('.veh_upload_upload_info').html('Ese archivo ya se encuentra en la lista.');
							}
						}
						else if(updiv[0].files.length > 1)
						{
							var files = updiv[0].files;
							_.each(files, function(file, key) {
								if(!IsFileAlreadyOnList(file)) {
									AddToFileList(file);
								}
							});
						}
						else {
							$('.veh_upload_upload_info').html('Esperando acción.');
						}
					}, 500);
					sessionStorage.setItem('selecting', 'false');
				}
			});

			$(document).on('click', '.pbox_remove', function(e){
				e.preventDefault();
				var esto = $(this);
				var uid = $(this).data('remove');
				lista_archivos = _.omit(lista_archivos, uid);
				$('#pbox_'+uid).animate({marginTop: -200}, 300, function(){
					esto.parent().remove();
					$('#fake_'+uid).remove();
					$('#'+uid).remove();
					$('.veh_upload_upload_info').html('Archivo quitado.');					
				});
				if(_.isEmpty(lista_archivos)){
					$('.veh_upload_upload_all').prop('disabled', true);
				}
			});

			$(document).on('click', '.veh_upload_upload_all', function(){
				
				$('.veh_upload_upload_all').prop('disabled', true);
				$('.veh_upload_search_file').prop('disabled', true);
				var data = new FormData();
				Object.keys(lista_archivos).forEach(function(key) {					
					data.append(key, lista_archivos[key]);	
				});
				var csrfName = document.getElementById('csrf_name').value;
				var csrfValue = document.getElementById('csrf_value').value;
				data.append('csrf_value', csrfValue);
				data.append('csrf_name', csrfName);
				var newurl = "{{path_for('photoupload', {'id': producto.id } )}}";
				$.ajax({
					method: 'POST',
					url: newurl,
					data: data,
					cache: false,
					contentType: false,
					processData: false,
					success: function(response){
						window.location.reload(true);
					},
					error: function(data){
						$('.veh_upload_upload_info').css('color', 'red');
						$('.veh_upload_upload_info').html('Ha ocurrido un error.');	
						console.log("error");
					}
				});
			});

		});
	</script>
{% endblock %}
