{% extends "admin_views/base.twig" %}

{% block aditional_css %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block title %}Listado de productos{% endblock %}
{% block header_title %}Listado de productos{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('stock.index')}}">Listado de productos</a></li>
{% endblock %}


{% block content %}
<div class="row">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="col-xs-12">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title text-bold">Listado de productos en la pagina:</h3>
				<a href="{{ path_for('stock.agregar')}}" class="btn btn-xs btn-flat btn-primary pull-right"><i class="fa fa-fw fa-plus"></i> Agregar Producto</a>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table table-striped table-condensed precios_tabla" style="margin-bottom: 0px;">
						<thead>
							<th>Nombre del producto</th>
							<th>Categoria</th>
							{#<th>Existencias</th>#}
							<th>Precio</th>
							<th></th>
						</thead>
						<tbody>
							{% for producto in productos %}
								<tr>
									<td> {{ producto.nombre }}  </td>
									<td> {{ producto.categoria  }}</td>
									{#<td> {{ producto.existencias }} </td>#}
									<td>$ {{ producto.precio }}</td>
									<td>
										<a href="{{ path_for('stock.borrar',  {'id': producto.id } )}}" class="btn btn-xs btn-flat btn-danger pull-right" onclick="return confirm('¿Estas seguro que quieres eliminar este producto? No se puede volver a restaurar el producto, se eliminaran además todas las fotos del sistema.');"><i class="fa fa-fw fa-trash"></i></a>
										<a href="{{ path_for('photoupload',  {'id': producto.id } )}}" class="btn btn-xs btn-flat btn-success pull-right"><i class="fa fa-fw fa-photo"></i> Fotos</a>
										<a href="{{ path_for('stock.editar',  {'id': producto.id } )}}" class="btn btn-xs btn-flat btn-info pull-right"><i class="fa fa-fw fa-pencil"></i> Editar</a>
										{# <a href="{{ path_for('stock.index',  {'id': producto.id } )}}" class="btn btn-xs btn-flat btn-success pull-right"><i class="fa fa-fw fa-dollar"></i> Vender</a> #}
									</td>
								</tr>
							{% endfor %} 
						</tbody>							
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.precios_tabla').dataTable( {
	lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "TODO"]],
		"language": {
		    "sProcessing":     "Procesando...",
		    "sLengthMenu":     "Mostrar _MENU_ registros",
		    "sZeroRecords":    "No se encontraron resultados",
		    "sEmptyTable":     "Todavía no hay ningún producto cargado en el sistema.",
		    "sInfo":           "Mostrando productos del _START_ al _END_ de un total de _TOTAL_ productos",
		    "sInfoEmpty":      "Mostrando productos del 0 al 0 de un total de 0 productos",
		    "sInfoFiltered":   "(filtrado de un total de _MAX_ productos)",
		    "sInfoPostFix":    "",
		    "sSearch":         "Buscar:",
		    "sUrl":            "",
		    "sInfoThousands":  ",",
		    "sLoadingRecords": "Cargando...",
		    "oPaginate": {
		        "sFirst":    "Primero",
		        "sLast":     "Último",
		        "sNext":     "Siguiente",
		        "sPrevious": "Anterior"
		    },
		    "oAria": {
		        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
		        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
		    }
		}
	});
});
</script>
{% endblock %}