{% extends "admin_views/base.twig" %}

{% block aditional_css %}
{% endblock %}

{% block title %}Edición de portadas{% endblock %}
{% block header_title %}Edición de portadas{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('stock.index')}}">Edición de portadas</a></li>
{% endblock %}


{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="vendedor_view">	
		<form action="{{path_for('portada.editar.post', {'id' : portada.id })}}" method="POST">
			<div class="col-md-6">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title text-bold">Edición de la portada "{{ portada.titulo }}"</h3><br>
						Puede cambiar los siguientes datos de la portada:
					</div>
					<div class="box-body">
						<div class="form-group {{ errors.titulo_portada ? ' has-error' : '' }}">
							<label for="titulo_portada">Titulo de la portada: <small>(* Puedes usar < br > como un salto de linea *)</small></label>
							<input type="text" id="titulo_portada" name="titulo_portada" class="form-control" placeholder="Titulo de la portada (max: 23<br>23)" value="{{ portada.titulo }}" maxlength="50">
							{% if errors.titulo_portada %}
								<span class="help-block">{{ errors.titulo_portada | first }}</span>
							{% endif %}		
						</div>	
						<div class="form-group {{ errors.descripcion_portada ? ' has-error' : '' }}">
							<label for="descripcion_portada">Descripción de la portada:</label>
							<textarea id="descripcion_portada" name="descripcion_portada" class="form-control" rows="3"placeholder="Descripción de la portada (max: 110)" maxlength="110">{{ portada.descripcion }}</textarea>
							{% if errors.descripcion_portada %}
								<span class="help-block">{{ errors.descripcion_portada | first }}</span>
							{% endif %}		
						</div>	
						<div class="form-group {{ errors.boton_portada ? ' has-error' : '' }}">
							<label for="boton_portada">Titulo del botón de la portada:</label>
							<input type="text" id="boton_portada" name="boton_portada" class="form-control" placeholder="Titulo del botón de la portada (max: 12)" maxlength="12" value="{{ portada.boton }}">
							{% if errors.boton_portada %}
								<span class="help-block">{{ errors.boton_portada | first }}</span>
							{% endif %}		
						</div>		
						<div class="form-group {{ errors.link_portada ? ' has-error' : '' }}">
							<label for="link_portada">Link del botón:</label>
							<input type="text" id="link_portada" name="link_portada" class="form-control" placeholder="Link del botón de la portada ej: (http://freetexs.com.ar/pantalon-chupin_1)" value="{{ portada.link }}">
							{% if errors.link_portada %}
								<span class="help-block">{{ errors.link_portada | first }}</span>
							{% endif %}		
						</div>	
						<div class="form-group">
							<label for="alineacion_portada">Alineación texto de la portada:</label>
							<select class="form-control" name="alineacion_portada" id="alineacion_portada">
							    <option value="1" selected="">Izquierda</option>
							    <option value="2">Derecha</option>
							    <option value="3">Centro</option>
							</select>
						</div>
						<div class="row">
							<div class="col-md-6">
								<button class="btn btn-default btn-block btn-flat" type="reset">Limpiar campos</button>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-block btn-flat" type="submit">Editar portada</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ csrf.field | raw}}
		</form>
		<div class="col-md-6">
			<form id="uploadimage" action="" method="post" enctype="multipart/form-data">
			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Cambiar imagen de portada</h4>
			      </div>
			      <div class="modal-body">
			      	<img id="previewing" style="width: 200px;" {% if portada.imagen == NULL %} src="{{base_url}}/portadas/default.jpg" {% else %} src="{{base_url}}/portadas/{{ portada.imagen }}" {% endif %} alt="User profile picture">
		        	<br>
			      	<div class="ocultar">
						<input type="file" class="btn btn-default btn-block" name="file" id="file"/>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			        <input id="boton_subir" type="submit" class="btn btn-primary" value="Cambiar" class="submit" />
			      </div>
			    </div>
			    {{ csrf.field | raw}}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	$(document).ready(function (e) {

		$("#uploadimage").on('submit',(function(e) {
		e.preventDefault();

		var data = new FormData(this);
		data.append('nombre-usuario', '{{ portada.id }}');

		$.ajax({
			url: "imagen-perfil.php", // Url to which the request is send
			type: "POST",             // Type of request to be send, called as method
			data: data, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
			contentType: false,       // The content type used when sending data to the server.
			cache: false,             // To unable request pages to be cached
			processData:false,        // To send DOMDocument or non processed data file it is set to false
			success: function(response)   // A function to be called if request succeeds
			{
				var jsonObject = JSON.parse(response);
				console.log(jsonObject.dir);
				if(jsonObject.dir != 0)
				{
					cambiarfotoportada({{ portada.id }}, jsonObject.dir);
					$('#boton_subir').hide();
					$('.ocultar').html('<div style="text-align:center;" class="alert alert-info">¡La foto de portada fue actualizada correctamente!</div>');
					$('#foto_perfil').attr('src','{{ base_url() }}/portadas/'+jsonObject.dir);
				}
			}
		});
	}));

		// Function to preview image after validation
		$(function() 
		{
			$("#file").change(function() 
			{
				$("#message").empty(); // To remove the previous error message
				var file = this.files[0];
				var imagefile = file.type;
				var match= ["image/jpeg","image/png","image/jpg"];
				if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
				{
					$('#previewing').attr('src','noimage.png');
					return false;
				}
				else
				{
					var reader = new FileReader();
					reader.onload = imageIsLoaded;
					reader.readAsDataURL(this.files[0]);
				}
			});
		});
		function imageIsLoaded(e) 
		{
			$("#file").css("color","green");
			$('#previewing').attr('src', e.target.result);
		};
	});

	function cambiarfotoportada(id, foto) {
		$.ajax({
			url:"{{ base_url() }}/administracion/portadas/cambiarfoto/"+id+"/"+foto,
			method: 'GET',
			cache: false,
		});
		console.log("Se cambio la siguiente foto: {{ base_url() }}/administracion/portada/cambiarfoto/"+id+"/"+foto);
		return 1;
	}
	</script>
{% endblock %}