{% extends "admin_views/base.twig" %}

{% block aditional_css %}
{% endblock %}

{% block title %}Crear una portada{% endblock %}
{% block header_title %}Crear una portada{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('stock.index')}}">Crear una portada</a></li>
{% endblock %}


{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="vendedor_view">	
		<form action="{{path_for('portada.crear.post')}}" method="POST">
			<div class="col-md-6">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title text-bold">Creación de la portada</h3><br>
						Puede crear una portada los siguientes datos:
					</div>
					<div class="box-body">
						<div class="form-group {{ errors.titulo_portada ? ' has-error' : '' }}">
							<label for="titulo_portada">Titulo de la portada: <small>(* Puedes usar < br > como un salto de linea *)</small></label>
							<input type="text" id="titulo_portada" name="titulo_portada" class="form-control" placeholder="Titulo de la portada (max: 23<br>23)" value="{{ old.titulo_portada }}" maxlength="50">
							{% if errors.titulo_portada %}
								<span class="help-block">{{ errors.titulo_portada | first }}</span>
							{% endif %}		
						</div>	
						<div class="form-group {{ errors.descripcion_portada ? ' has-error' : '' }}">
							<label for="descripcion_portada">Descripción de la portada:</label>
							<textarea id="descripcion_portada" name="descripcion_portada" class="form-control" rows="3"placeholder="Descripción de la portada (max: 110)" maxlength="110">{{ old.descripcion_portada }}</textarea>
							{% if errors.descripcion_portada %}
								<span class="help-block">{{ errors.descripcion_portada | first }}</span>
							{% endif %}		
						</div>	
						<div class="form-group {{ errors.boton_portada ? ' has-error' : '' }}">
							<label for="boton_portada">Titulo del botón de la portada:</label>
							<input type="text" id="boton_portada" name="boton_portada" class="form-control" placeholder="Titulo del botón de la portada (max: 12)" maxlength="12" value="{{ old.descripcion_portada }}">
							{% if errors.boton_portada %}
								<span class="help-block">{{ errors.boton_portada | first }}</span>
							{% endif %}		
						</div>		
						<div class="form-group {{ errors.link_portada ? ' has-error' : '' }}">
							<label for="link_portada">Link del botón:</label>
							<input type="text" id="link_portada" name="link_portada" class="form-control" placeholder="Link del botón de la portada ej: (http://freetexs.com.ar/pantalon-chupin_1)" value="{{ old.link_portada }}">
							{% if errors.link_portada %}
								<span class="help-block">{{ errors.link_portada | first }}</span>
							{% endif %}		
						</div>	
						<div class="form-group">
							<label for="alineacion_portada">Alineación texto de la portada:</label>
							<select class="form-control" name="alineacion_portada" id="alineacion_portada">
							    <option value="1" selected="">Izquierda</option>
							    <option value="2">Derecha</option>
							    <option value="3">Centro</option>
							</select>
						</div>
						<div class="row">
							<div class="col-md-6">
								<button class="btn btn-default btn-block btn-flat" type="reset">Limpiar campos</button>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-block btn-flat" type="submit">Editar portada</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ csrf.field | raw}}
		</form>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% endblock %}