{% extends "admin_views/base.twig" %}

{% block aditional_css %}
{% endblock %}

{% block title %}Listado de portadas{% endblock %}
{% block header_title %}Listado de portadas   <a href="{{ path_for('portada.crear')}}" class="btn btn-xs btn-flat btn-primary"><i class="fa fa-fw fa-plus"></i> Crear una portada</a>{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('portadas.index')}}">Listado de portadas</a></li>
{% endblock %}


{% block content %}
<div class="row">
	{% include 'admin_views/admin_partials/flash.twig' %}
	{% for portada in portadas %}
	<div class="col-lg-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-aqua" style="background-image : url('{{ base_url() }}/portadas/{{ portada.imagen }}'); background-size: 100% 100%; text-shadow: 3px 3px 3px #000; widht">
        <div class="inner">
          <br>
          <h3>{{ portada.titulo | raw }} <a target="_blank" href="{{ portada.link }}">
        </a></h3>
          <br>
          <br>
          <p>{{ portada.descripcion }}</p>
          <br>
          <br>
          <a target="_blank" href="{{ portada.link }}" class="btn btn-flat btn-info btn-sm pull-right">{{ portada.boton }}</a>
          <br><br>
        </div>
        <a href="{{ path_for('portada.editar',  {'id': portada.id } )}}" class="small-box-footer">
          Editar <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block custom_js %}
{% endblock %}