{% extends "admin_views/base.twig" %}
{% block aditional_css %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block title %}Notificaciones{% endblock %}
{% block header_title %}Mis notificaciones:{% endblock %}
{% block breadcrumb %}
	<li><a href="{{path_for('notificaciones.index')}}">Mis notificaciones</a></li>
{% endblock %}
{% block content %}
<div class="row prospectos listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	{% if auth.empleado.master == -1 %}
		{% include 'admin_views/admin_partials/vista_programador.twig' %}
	{% endif %}
	<div class="col-md-12">
		<div class="box">
	        <!-- /.box-header -->
	        <div class="box-body no-padding">
	          	<table class="table table-striped">
	           	 	<tbody>
	           	 		<tr>
		                  <th style="width: 85%">Todas mis notificaciones:</th>
		                  <th style="width: 15%"></th>
		                </tr>
	           	 		{% for notificacion in notificaciones_totales %}
							{% if notificacion.estado == 0 %}
		                    		{% set color = "text-red" %}
		                    	{% elseif notificacion.estado == 1 %}
		                    		{% set color = "text-green" %}
		                    	{% elseif notificacion.estado == 2 %}
		                    		{% set color = "text-gray" %}
		                    	{% endif %}
	                    		{% if notificacion.categoria == 1 %}
	                      			{% set icono = "fa-list" %}
	                      			{% set link = path_for('prospectos.index') %}
	                      		{% elseif notificacion.categoria == 2 %}
	                      			{% set icono = "fa-ticket" %}
	                      			{% set link = path_for('tickets.index') %}
	                      		{% elseif notificacion.categoria == 3 %}
	                      			{% set icono = "fa-envelope-o" %}
	                      			{% set link = path_for('correo.index') %}
	                      		{% elseif notificacion.categoria == 4 %}
	                      			{% set icono = "fa-info-circle" %}
	                      		{% elseif notificacion.categoria == 5 %}
	                      			{% set icono = "fa-birthday-cake" %}
	                      		{% elseif notificacion.categoria == 6 %}
	                      			{% set icono = "fa-check-square-o" %}
	                      		{% endif %}
							<tr>
								<td><a onclick="notificacion_abierta({{ notificacion.id }});" href="{{ link }}"><i class="fa {{icono}} {{color}}"></i> {{ notificacion.mensaje }}</a></td>
								<td>{{ notificacion.created_at|date('d/m/Y')}} {{notificacion.created_at|date('H:i')}}</td>
							</tr>
						{% endfor %}
	          		</tbody>
	      		</table>
	        </div>
        </div>
	</div>
</div>
{% endblock %}
{% block custom_js %}
{% endblock %}