{% extends "admin_views/base.twig" %}
{% block aditional_css %}
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block title %}Creación de empleados{% endblock %}
{% block header_title %}Creación de empleados{% endblock %}
	{% block breadcrumb %}
	<li><a href="{{path_for('empleados.index')}}">Empleados</a></li>
	<li><a href="{{path_for('empleados.index')}}">Creación de empleados</a></li>
{% endblock %}
{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="vendedor_view">	
		<div class="col-xs-12">
			<form action="{{path_for('empleados.cargar')}}" method="POST">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title text-bold">Crear un usuario</h3>
					</div>
					<form class="form-signup" action="{{ path_for('empleados.cargar') }}" method="post">
					<div class="box-body">
						<div class="col-md-6">
							<div class="box box-info">
								<div class="box-header with-border">
									<h3 class="box-title text-bold">1- Datos del empleado:</h3><br>
									Si desea dar de alta a un nuevo empleado proporcione los datos en el siguiente formulario:
								</div>
								<div class="box-body">
									<div class="form-group {{ errors.car_nombre ? ' has-error' : '' }}">
										<label for="car_nombre" class="sr-only">Nombre</label>
										<input type="text" id="car_nombre" name="car_nombre" class="form-control" placeholder="Nombre" value="{{ old.car_nombre }}">
										{% if errors.car_nombre %}
											<span class="help-block">{{ errors.car_nombre | first }}</span>
										{% endif %}
									</div>

									<div class="form-group{{ errors.car_apellido ? ' has-error' : '' }}">
										<label for="car_apellido" class="sr-only">Apellido</label>
										<input type="text" id="car_apellido" name="car_apellido" class="form-control" placeholder="Apellido" value="{{ old.car_apellido }}">
										{% if errors.car_apellido %}
											<span class="help-block">{{ errors.car_apellido | first }}</span>
										{% endif %}
									</div>

									<div class="form-group{{ errors.car_email ? ' has-error' : '' }}">
										<label for="car_email" class="sr-only">Dirección de correo electrónico</label>
										<input type="text" id="as" name="car_email" class="form-control" placeholder="Dirección de correo electrónico" value="{{ old.car_email }}">
										{% if errors.car_email %}
											<span class="help-block">{{ errors.car_email | first }}</span>
										{% endif %}
									</div>

									<div class="form-group{{ errors.car_phone ? ' has-error' : '' }}">
										<label for="car_phone" class="sr-only">Teléfono</label>
										<input type="tel" id="car_phone" name="car_phone" class="form-control" placeholder="Teléfono" value="{{ old.car_phone }}">
										{% if errors.car_phone %}
											<span class="help-block">{{ errors.car_phone | first }}</span>
										{% endif %}
									</div>

									<div class="form-group{{ errors.car_password ? ' has-error' : '' }}">
										<label for="car_password" class="sr-only">Contraseña</label>
										<input type="password" id="car_password" name="car_password" class="form-control" placeholder="Contraseña">
										{% if errors.car_password %}
											<span class="help-block">{{ errors.car_password | first }}</span>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="box box-warning">
								<div class="box-header with-border">
									<h3 class="box-title text-bold">2- Sucursal y puesto del empleado:</h3><br>
									Seleccione la sucursal a la cual corresponda el empleado nuevo y su respectivo puesto de trabajo
								</div>
								<div class="box-body">
									<label for="sel1">Selecione la sucursal:</label>
									<select class="form-control" name="empleado-crear-sucursal" id="sel1">
										{% for agencia in agencias %}
									    <option value="{{agencia.id}}">{{agencia.nombre}}</option>
										{% endfor %}
									</select>
									<br>
									<label for="sel2">Selecione el puesto:</label>
									<select class="form-control" name="empleado-crear-puesto" id="sel2">
									    {% for puesto in puestos %}
									    <option value="{{puesto.id_puesto}}">{{puesto.nombre}}</option>
										{% endfor %}
									</select>
									<br>
									<label for="sel3">Nivel de acceso:</label>
									<select class="form-control" name="empleado-crear-nivel_acceso" id="sel3">
									    {% for i in 1..10 %}
									    <option value="{{ i }}">{{ i }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-block">Crear Usuario</button>
					</div>
				</div>
				{{ csrf.field | raw}}
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block custom_js %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $('.js-example-basic-single').select2();
	});
	</script>
{% endblock %}