{% extends "admin_views/base.twig" %}
{% block aditional_css %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block title %}Listado de empleados{% endblock %}
{% block header_title %}Listado de empleados{% endblock %}
	{% block breadcrumb %}
	<li><a href="{{path_for('empleados.index')}}">Empleados</a></li>
	<li><a href="{{path_for('empleados.index')}}">Listado de empleados</a></li>
{% endblock %}
{% block content %}
<div class="row empleados listado">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="vendedor_view">	
			<div class="col-xs-12">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title text-bold">Lista general de los empleados de Ciro:</h3>
					</div>
					<div class="box-body">
						<div class="table-responsive" style="overflow: visible;">
							<table class="table table-striped table-condensed prospectos_tabla" style="margin-bottom: 0px;">
								<thead>
									<th>Nombre y apellido</th>
									<th>Sucursal</th>
									<th>Puesto</th>
									<th data-orderable="false">Email</th>
									<th data-orderable="false">Teléfono</th>
									<th>Ultimo<br>Acceso</th>
									<th data-orderable="false"></th>
								</thead>
								<tbody>
									{% for empleado in empleados %}
										<tr>
											<td>{{empleado.individuo.apellido|upper}}, {{empleado.individuo.nombre}} </td>
											<td>{{empleado.agencia.nombre}}</td>
											<td>{{empleado.puesto.nombre}}</td>
											<td>{{empleado.usuario.email}}</td>
											<td>{{empleado.individuo.telefono}}</td>
											<td>
												{% set ultimo = empleado.sesiones|length  %}
												{% if ultimo > 0 %}
													{{empleado.sesiones[ultimo - 1].created_at|date('d/m/Y')}}
												{% endif %}
											</td>
											<td>
												<div class="dropdown">
													<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
													<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
														<li><a href="{{path_for('empleados.editar', {	'id': empleado.id })}}">Editar permisos</a></li>
												    <li><a href="{{path_for('empleados.eliminar', {	'id': empleado.id })}}"  onclick="return confirm('¿Estas seguro que quieres eliminar este empleado? No hay vuelta atras capo.');">Dar de baja</a></li>
												    {% if empleado.correo.id is empty %}
											    	<li>
											    		<a href="{{path_for('empleados.correo.agregar', {	'id': empleado.id_usuario })}}">
											    			Crear CORREO
											    		</a>
											    	</li>
												    {% endif %}
													</ul>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>							
							</table>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}
{% block custom_js %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
<script type="text/javascript">
$.fn.dataTable.moment( 'DD/MM/YYYY' );
$('.prospectos_tabla').DataTable( {
	lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "TODO"]],
	"language": {
	    "sProcessing":     "Procesando...",
	    "sLengthMenu":     "Mostrar _MENU_ registros",
	    "sZeroRecords":    "No se encontraron resultados",
	    "sEmptyTable":     "Ningún dato disponible en esta tabla",
	    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	    "sInfoPostFix":    "",
	    "sSearch":         "Buscar:",
	    "sUrl":            "",
	    "sInfoThousands":  ",",
	    "sLoadingRecords": "Cargando...",
	    "oPaginate": {
	        "sFirst":    "Primero",
	        "sLast":     "Último",
	        "sNext":     "Siguiente",
	        "sPrevious": "Anterior"
	    },
	    "oAria": {
	        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
	        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	    }
	}
});
</script>
{% endblock %}