{% extends "admin_views/base.twig" %}
{% block aditional_css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.css">
{% endblock %}
{% block title %}Administracion Correo Empresarial{% endblock %}
{% block header_title %}Administracion Correo Empresarial{% endblock %}
{% block content %}
<div class="row">
	{% include 'admin_views/admin_partials/flash.twig' %}
	<div class="col-md-5">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title text-bold">Dominios Habilitados</h3>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table table-striped table-condensed" id="tablaDominios" style="margin-bottom: 0px;width:100%;">
						<thead>
							<tr>
								<th>Creado</th>
								<th>Dominio</th>
								<th data-orderable="false"> </th>
							</tr>
						</thead>
						<tbody>
							{% for item in dominios %}
								<tr>
									<td>{{ item.created_at | date('d/m/Y') }}</td>
									<td>{{ item.nombre }}</td>
									<td style=" white-space: nowrap;">
									</td>
								</tr>
							{% endfor %}
						</tbody>							
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title text-bold">Redireccion</h3>
				<div class="box-tools pull-right">
          <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span> Acciones
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="" id="btnAgregarAlias">Agregar Redireccion</a></li>
          </ul>
        </div>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table table-striped table-condensed" id="tablaAlias" style="margin-bottom: 0px;width:100%;">
						<thead>
							<tr>
								<th>Creado</th>
								<th>Origen</th>
								<th>Destino</th>
								<th data-orderable="false"> </th>
							</tr>
						</thead>
						<tbody>
							{% for item in alias %}
								<tr>
									<td>{{ item.created_at | date('d/m/Y') }}</td>
									<td>{{ item.origen }}</td>
									<td>{{ item.destino }}</td>
									<td style=" white-space: nowrap;">
									{% if item.estado == 1 %}
										<a href="{{path_for('correovirtual.alias.eliminar',{'id':item.id})}}" class="btn btn-xs btn-danger" data-toggle="tooltip" data-container="body" title="Eliminar">
											<i class="ion ion-trash-a"></i>
										</a>
									{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>							
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title text-bold">Correo Habilitados</h3>
				<div class="box-tools pull-right">
          <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span> Acciones
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="" id="btnAgregarCorreo">Agregar Correo Unico</a></li>
          </ul>
        </div>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table table-striped table-condensed" id="tablaUsuarios" style="margin-bottom: 0px;width:100%;">
						<thead>
							<tr>
								<th>Creado</th>
								<th>Empleado</th>
								<th>Email</th>
								<th data-orderable="false"> </th>
							</tr>
						</thead>
						<tbody>
							{% for item in usuarios %}
								<tr>
									<td>{{ item.created_at | date('d/m/Y') }}</td>
									<td>
									{% if item.individuo.apellido %}
										{{ item.individuo.apellido~' '~item.individuo.nombre }}
									{% else %}
										NO ASOCIADO
									{% endif %}
									</td>
									<td>{{ item.email }}</td>
									<td style=" white-space: nowrap;">
									{% if item.estado == 1 %}
										<a href="{{path_for('correovirtual.eliminar',{'id':item.id})}}" class="btn btn-xs btn-danger" data-toggle="tooltip" data-container="body" title="Eliminar">
											<i class="ion ion-trash-a"></i>
										</a>
									{% else %}
										<a href="{{path_for('correovirtual.habilitar',{'id':item.id})}}" class="btn btn-xs btn-success" data-toggle="tooltip" data-container="body" title="Habilitar">
											<i class="ion ion-plus"></i>
										</a>
									{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>							
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalCorreo">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar Correo Virtual. El nuevo correo tiene que ser unico.</h4>
      </div>
      <div class="modal-body">
        <form class="form-group" method="POST" action="{{path_for('correovirtual.agregar')}}" autocomplete="off" >
          <div class="row">
      			<div class="col-md-12">
							<label for="email">Correo</label>
							<input type="email" class="form-control" name="email" autocomplete="off" required>
						</div>
						<div class="col-md-12">
							<label for="contrasenia">Contraseña</label>
							<input type="password" class="form-control" name="contrasenia" autocomplete="off" required>
						</div>
        	</div>
          {{ csrf.field | raw }}
          <button type="submit" class="hidden" id="submitCorreo" ></button>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" id="btnCorreo">Agregar</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAlias">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar Redireccion. El origen solo puede ser correos de ciroautomotores.com.ar</h4>
      </div>
      <div class="modal-body">
        <form class="form-group" method="POST" action="{{path_for('correovirtual.alias')}}" autocomplete="off" >
          <div class="row">
      			<div class="col-md-12">
							<label for="origen">Origen</label>
							<input type="email" class="form-control" name="origen" autocomplete="off" required>
						</div>
						<div class="col-md-12">
							<label for="destino">Destino</label>
							<input type="email" class="form-control" name="destino" autocomplete="off" required>
						</div>
        	</div>
          {{ csrf.field | raw }}
          <button type="submit" class="hidden" id="submitAlias" ></button>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" id="btnAlias">Agregar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/i18n/datepicker.es-ES.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.3/standard-all/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script type="text/javascript">
$(document).ready(function(e) {
  $('body').tooltip({
    selector: '[data-toggle="tooltip"]',
    position: {
        my: "left top+15",
        at: "left bottom",
        collision: "flipfit flip"
    },
  });

  $('#btnAgregarCorreo').on('click',function(){
  	$('#modalCorreo').modal('show');
  });

  $('#btnCorreo').on('click',function(){
  	$('#submitCorreo').trigger('click');
  });

  $('#btnAgregarAlias').on('click',function(){
  	$('#modalAlias').modal('show');
  });

  $('#btnAlias').on('click',function(){
  	$('#submitAlias').trigger('click');
  });

	$.fn.dataTable.moment( 'DD/MM/YYYY' );
	var language = {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },
    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
	};
	$('#tablaDominios').DataTable( {
		order:[[0,'desc']],
	  lengthChange: false,
    searching: false,
    paging: false,
    info: false,
    ordering: false,
		'language':language,

	});
	$('#tablaAlias').DataTable( {
		order:[[0,'desc']],
	  lengthMenu: [[5, 25, 50, -1], [5, 25, 50, "TODO"]],
	  searching:false,
	  info: false,
    ordering: false,
    ordering: false,
		'language':language,
	});
	$('#tablaUsuarios').DataTable( {
		order:[[0,'desc']],
	  lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "TODO"]],
		'language':language,
	});

});

</script>
{% endblock %}